Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

updates
  FUNCTIONAL_TEST_COVERAGE_ANALYSIS.md
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
Labels: documentation, tests, groovy

version updates
  CLAUDE.md
  gradle.properties
  src/main/resources/application-prod.yml
  src/test/functional/resources/application-func.yml
Labels: documentation, tests, config

wip
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/services/UserService.kt
  src/main/resources/application-prod.yml
Labels: kotlin, config

wip
  src/test/functional/resources/db/migration/func/V02__add-performance-indexes.sql
  src/test/integration/resources/db/migration/int/V02__add-performance-indexes.sql
Labels: tests

wip
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

excel-remove
  .gitignore
  Dockerfile
  FUNCTIONAL_TEST_COVERAGE_ANALYSIS.md
  build.gradle
  docker-compose-base.yml
  env.prod
  env.prodora
  env.stage
  run-podman.sh
  run.sh
  src/main/kotlin/finance/configurations/CustomProperties.kt
  src/main/kotlin/finance/controllers/ExcelFileController.kt
  src/main/kotlin/finance/domain/ExcelFileColumn.kt
  src/main/kotlin/finance/services/ExcelFileService.kt
  src/main/kotlin/finance/services/IExcelFileService.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
  src/test/functional/groovy/finance/controllers/ExcelFileControllerSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/functional/resources/application-int.yml
  src/test/integration/resources/application-int.yml
  src/test/oracle/resources/application-ora.yml
  src/test/performance/resources/application-perf.yml
  src/test/unit/groovy/finance/services/ExcelFileServiceSpec.groovy
Labels: documentation, tests, build, kotlin, groovy, config

wip
  run-gcp.sh
Labels: none

wip
  src/test/functional/resources/application-func.yml
Labels: tests

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
Labels: tests, groovy

added error logging for 400 and 500
  src/main/kotlin/finance/configurations/HttpErrorLoggingFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/test/functional/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
Labels: tests, kotlin, groovy

wip
  run.sh
Labels: none

broken int tests
  TODO.md
  readme.md
  src/main/kotlin/finance/configurations/DatabaseResilienceConfiguration.kt
  src/test/integration/groovy/finance/configurations/DatabaseResilienceIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/processors/ProcessorIntegrationSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationSimpleSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationWorkingSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
Labels: tests, groovy

wip
  run-podman.sh
Labels: none

turn auto commit to false
  src/main/resources/application-prod.yml
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
Labels: tests, config

testing updates - 100% success
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
Labels: tests, kotlin, groovy

security updates - confirmed app works
  src/main/kotlin/finance/configurations/LoggingCorsFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: tests, groovy

testing updates
  GEMINI.md
  TODO.md
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
Labels: documentation, tests, groovy

wip
  src/test/integration/groovy/finance/HealthEndpointSpec.groovy
Labels: tests, groovy

broken int tests - fixes are coming
  INTEGRATION_TEST_FAILURE_ANALYSIS.md
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: documentation, tests, groovy

wip
  TODO.md
  run-bootrun.sh
  run.sh
Labels: documentation

fixed duplicates for payment and transfer
  TODO.md
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  run.sh
Labels: none

functional test updates
  src/test/functional/groovy/finance/controllers/PaymentControllerIsolatedSpec.groovy
Labels: tests, groovy

wip
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
Labels: tests, groovy

updates warnings
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/test/unit/groovy/finance/domain/MedicalExpenseSpec.groovy
Labels: tests, kotlin, groovy

feat(medical-expenses): fix controller DI and repo transactions
  MEDICAL_EXPENSE_PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/domain/ClaimStatus.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/exceptions/DuplicateMedicalExpenseException.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/services/IMedicalExpenseService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/kotlin/finance/utils/ClaimStatusConverter.kt
  src/main/kotlin/finance/utils/DateValidator.kt
  src/main/resources/db/migration/prod/V10__create-medical-expense.sql
  src/main/resources/db/migration/prodora/V08__create-medical-expense.sql
  src/main/resources/db/migration/stage/V05__create-medical-expense.sql
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/functional/resources/db/migration/func/V06__create-medical-expense.sql
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/resources/db/migration/int/V06__create-medical-expense.sql
  src/test/oracle/resources/db/migration/ora/V06__create-medical-expense.sql
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/domain/ClaimStatusJsonSpec.groovy
  src/test/unit/groovy/finance/domain/ClaimStatusSpec.groovy
  src/test/unit/groovy/finance/domain/MedicalExpenseSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy, database

wip
  INTEGRATION_TEST_MIGRATION_GUIDE.md
Labels: documentation

functional test updates
  run.sh
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartCategoryBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartReceiptImageBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransferBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartUserBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartValidationAmountBuilder.groovy
Labels: tests, groovy

functional test updates
  Dockerfile-small
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  docker-entrypoint.sh
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
  src/main/kotlin/finance/services/ValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/AccountControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: documentation, tests, build, kotlin, groovy

medical expense GET endpoint
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/services/IMedicalExpenseService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
Labels: kotlin

feat(family-member): add controller, service, repository and isolated functional tests
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/repositories/FamilyMemberRepository.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerIsolatedSpec.groovy
Labels: tests, kotlin, groovy

functional test updates
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
Labels: tests, groovy

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  cleanup-orphaned-descriptions.sh
Labels: documentation

changes to support the future springboot 4.x
  env.influx
  gradle.properties
  run.sh
  src/main/kotlin/finance/Application.kt
  src/main/kotlin/finance/configurations/BeanConfig.kt
  src/main/kotlin/finance/configurations/DatabaseResilienceConfiguration.kt
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/processors/BaseProcessor.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/test/integration/groovy/finance/configurations/DatabaseResilienceIntSpec.groovy
  src/test/unit/groovy/finance/configurations/RequestLoggingFilterSpec.groovy
Labels: tests, kotlin, groovy

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerSpec.groovy
Labels: documentation, tests, groovy

functional test updates
  src/test/functional/groovy/finance/controllers/SecurityAuditSpec.groovy
  src/test/functional/groovy/finance/helpers/AccountBuilder.groovy
  src/test/functional/groovy/finance/helpers/CategoryBuilder.groovy
  src/test/functional/groovy/finance/helpers/DescriptionBuilder.groovy
  src/test/functional/groovy/finance/helpers/ParameterBuilder.groovy
  src/test/functional/groovy/finance/helpers/PaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/ReceiptImageBuilder.groovy
  src/test/functional/groovy/finance/helpers/TransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/UserBuilder.groovy
  src/test/functional/groovy/finance/repositories/ParameterJpaSpec.groovy
  src/test/functional/groovy/finance/routes/JsonFileReaderRouteBuilderSpec.groovy
  src/test/functional/groovy/finance/routes/TransactionToDatabaseRouteBuilderSpec.groovy
Labels: tests, groovy

wip
  TODO.md
Labels: documentation
