Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

updates
  src/test/functional/groovy/finance/controllers/PaymentControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: tests, groovy

graphql enhancements
  build.gradle
  src/main/kotlin/finance/configurations/GraphQLConfiguration.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/resolvers/PaymentGraphQLResolverFunctionalSpec.groovy
  src/test/functional/groovy/finance/resolvers/TransferGraphQLResolverFunctionalSpec.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/TransferGraphQLResolverIntegrationSpec.groovy
  src/test/unit/groovy/finance/resolvers/PaymentGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
Labels: tests, build, kotlin, groovy, graphql

fuctionalTest migration updates
  TODO.md
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: documentation, tests, groovy

test: add TransferControllerIsolatedSpec following isolated pattern (clean owner accounts, UUIDs)
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
Labels: tests, groovy

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/LoginControllerIsolatedSpec.groovy
Labels: documentation, tests, groovy

integration test updates
  src/test/integration/groovy/finance/repositories/CategoryRepositoryIntSpec.groovy
Labels: tests, groovy

fuctionalTest migration updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
Labels: documentation

added logging for login testing
  src/main/kotlin/finance/configurations/SecurityAuditFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/LoginControllerAdvice.kt
  src/main/kotlin/finance/domain/LoginRequest.kt
Labels: kotlin

test: normalize account names in TestDataManager; fix PaymentController isolated tests; docs: update migration guide to 100% isolated pass rates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/guards/LegacyFixtureGuardSpec.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
Labels: documentation, tests, groovy

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/main/kotlin/finance/configurations/GraphQLInterceptor.kt
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/configurations/TimestampScalar.kt
  src/main/kotlin/finance/resolvers/AccountGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/functional/groovy/finance/controllers/PaymentControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: documentation, tests, kotlin, groovy

integration test updates
  src/test/integration/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/helpers/TestFixtures.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryMigratedIntSpec.groovy
Labels: tests, groovy

updates
  src/test/functional/groovy/finance/controllers/PaymentControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: tests, groovy

wip
  git-setup
  run-git-setup.sh
Labels: none

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  INTEGRATION_TEST_MIGRATION_GUIDE.md
  SECURITY_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/repositories/MedicalExpenseJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PendingTransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransferJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ValidationAmountJpaSpec.groovy
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/helpers/TestFixtures.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryMigratedIntSpec.groovy
  src/test/integration/groovy/finance/repositories/CategoryRepositoryIntSpec.groovy
Labels: documentation, tests, groovy

test(func): add extended isolated coverage for MedicalExpense
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartFamilyMemberBuilder.groovy
Labels: tests, groovy

wip
  src/test/functional/groovy/finance/guards/LegacyFixtureGuardSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, groovy

wip
  DESCRIPTION_DETAILS.md
  MEDICAL_CLAIMS_INSERT.md
Labels: documentation

added git setup
  git-setup
Labels: none

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/helpers/SmartFamilyMemberBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/repositories/FamilyMemberJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/MedicalExpenseJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PendingTransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransferJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/UserJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ValidationAmountJpaSpec.groovy
Labels: documentation, tests, groovy

graphql server updates
  build.gradle
  src/main/kotlin/finance/configurations/GraphQLConfiguration.kt
  src/main/kotlin/finance/configurations/GraphQLWiringConfig.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
Labels: build, kotlin, config

integration test updates
  INTEGRATION_TEST_MIGRATION_GUIDE.md
Labels: documentation

wip
  DESCRIPTION_DETAILS.md
  MEDICAL_CLAIMS_INSERT.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

integration test updates
  src/test/integration/groovy/finance/helpers/SmartValidationAmountBuilder.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryMigratedIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ValidationAmountRepositoryIntSpec.groovy
Labels: tests, groovy

test: refine TransferControllerIsolatedSpec (HTTP account creation in-test, fix Spock blocks, align account types)
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
Labels: tests, groovy

wip
  MEDICAL_EXPENSE_PLAN.md
  TODO.md
Labels: documentation

fixed up functional tests
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: documentation, tests, groovy

added Advice controller classes
  src/main/kotlin/finance/controllers/AccountControllerAdvice.kt
  src/main/kotlin/finance/controllers/CategoryControllerAdvice.kt
  src/main/kotlin/finance/controllers/DescriptionControllerAdvice.kt
  src/main/kotlin/finance/controllers/LoginControllerAdvice.kt
  src/main/kotlin/finance/controllers/ParameterControllerAdvice.kt
  src/main/kotlin/finance/controllers/PaymentControllerAdvice.kt
  src/main/kotlin/finance/controllers/PendingTransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/TransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/TransferControllerAdvice.kt
  src/main/kotlin/finance/controllers/UserControllerAdvice.kt
Labels: kotlin

wip
  env.prod
  src/main/resources/application-prod.yml
Labels: config

wip
  SECURITY.md
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/UserService.kt
  src/test/unit/groovy/finance/services/UserServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

test updates and fixes to graphql
  src/main/kotlin/finance/configurations/GraphQLInterceptor.kt
  src/main/kotlin/finance/configurations/GraphQLWiringConfig.kt
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/configurations/TimestampScalar.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/resolvers/AccountGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/guards/LegacyFixtureGuardSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverIntegrationSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
  src/test/unit/groovy/finance/config/TestAsyncConfig.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy, graphql
