Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/test/integration/groovy/finance/repositories/TransactionRepositoryDateRangeIntSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/resources/application-prod.yml
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
Labels: tests, config

updates
  src/main/resources/application-prod.yml
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
Labels: tests, config

updates
  build.gradle
  src/main/kotlin/finance/configurations/BeanConfig.kt
  src/main/kotlin/finance/configurations/LoggingCorsFilter.kt
  src/main/kotlin/finance/configurations/OracleConfig.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/services/JwtTokenProviderService.kt
  src/main/kotlin/finance/services/UserService.kt
  src/main/kotlin/finance/utils/SqlDateTool.kt
Labels: build, kotlin

updates
  build.gradle
  src/main/kotlin/finance/configurations/BeanConfig.kt
  src/main/kotlin/finance/configurations/LoggingCorsFilter.kt
  src/main/kotlin/finance/configurations/OracleConfig.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/services/JwtTokenProviderService.kt
  src/main/kotlin/finance/services/UserService.kt
  src/main/kotlin/finance/utils/SqlDateTool.kt
Labels: build, kotlin

updates
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/helpers/TestFixtures.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/helpers/TestFixtures.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/helpers/SecurityContextCleaner.groovy
  src/test/unit/groovy/finance/graphql/AccountsGraphQLControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, groovy

updates
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/helpers/SecurityContextCleaner.groovy
  src/test/unit/groovy/finance/graphql/AccountsGraphQLControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, groovy

updates
  CLAUDE.md
Labels: documentation

updates
  CLAUDE.md
Labels: documentation

version updates
  gradle.properties
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
Labels: kotlin

version updates
  gradle.properties
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
Labels: kotlin

updates
  src/main/kotlin/finance/controllers/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/dto/TransferInputDto.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/config/TestSecurityConfig.groovy
  src/test/functional/groovy/finance/controllers/AccountValidationSyncSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphqlSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/utils/UuidValidationSpec.groovy
Labels: tests, kotlin, groovy, graphql

updates
  src/main/kotlin/finance/controllers/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/dto/TransferInputDto.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/config/TestSecurityConfig.groovy
  src/test/functional/groovy/finance/controllers/AccountValidationSyncSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphqlSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/utils/UuidValidationSpec.groovy
Labels: tests, kotlin, groovy, graphql

recent updates
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/AccountValidationSyncSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphqlSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy

recent updates
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/AccountValidationSyncSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphqlSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/controllers/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/dto/PaymentInputDto.kt
  src/main/resources/graphql/schema.graphqls
Labels: kotlin, graphql

wip
  src/main/kotlin/finance/controllers/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/dto/PaymentInputDto.kt
  src/main/resources/graphql/schema.graphqls
Labels: kotlin, graphql

DTO added for Graphql
  src/main/kotlin/finance/controllers/dto/AccountInputDto.kt
  src/main/kotlin/finance/controllers/dto/DescriptionInputDto.kt
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/AccountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/DescriptionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/PaymentInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransferInputDtoSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy

DTO added for Graphql
  src/main/kotlin/finance/controllers/dto/AccountInputDto.kt
  src/main/kotlin/finance/controllers/dto/DescriptionInputDto.kt
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/AccountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/DescriptionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/PaymentInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransferInputDtoSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy

integration test updates
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentQuerySpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferQuerySpec.groovy
Labels: tests, groovy

integration test updates
  src/test/integration/groovy/finance/graphql/PaymentControllerMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentDeleteMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentQuerySpec.groovy
  src/test/integration/groovy/finance/graphql/TransferControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferQuerySpec.groovy
Labels: tests, groovy

integration updates
  INTEGRATION_TEST_NAMING_PLAN.md
  src/test/integration/groovy/finance/HealthEndpointIntSpec.groovy
  src/test/integration/groovy/finance/RandomPortIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLEndpointIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/AccountRepositoryMigratedIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy.backup
  src/test/integration/groovy/finance/security/SecurityEndpointsIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityUserRepoServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
Labels: documentation, tests, groovy

integration updates
  INTEGRATION_TEST_NAMING_PLAN.md
  src/test/integration/groovy/finance/HealthEndpointIntSpec.groovy
  src/test/integration/groovy/finance/RandomPortIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLEndpointIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/AccountRepositoryMigratedIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositorySimpleIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy.backup
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy.backup
  src/test/integration/groovy/finance/security/SecurityEndpointsIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityUserRepoServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
Labels: documentation, tests, groovy

integration updates
  src/test/integration/groovy/finance/graphql/PaymentMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferQueryIntSpec.groovy
Labels: tests, groovy

integration updates
  src/test/integration/groovy/finance/graphql/PaymentMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferQueryIntSpec.groovy
Labels: tests, groovy

functional test updates
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/AccountValidationSyncFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ControllerInconsistencyDocumentationFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedControllerPatternFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedValidationAmountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerFunctionalSpec.groovy
Labels: tests, groovy

functional test updates
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/AccountValidationSyncFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ControllerInconsistencyDocumentationFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedControllerPatternFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedValidationAmountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerFunctionalSpec.groovy
Labels: tests, groovy

updates
  CLAUDE.md
  INTEGRATION_TEST_NAMING_PLAN.md
  src/test/functional/groovy/finance/guards/LegacyFixtureGuardFunctionalSpec.groovy
  src/test/functional/groovy/finance/repositories/AccountJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/DescriptionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/FamilyMemberJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/MedicalExpenseJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ParameterJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PendingTransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ReceiptImageJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransferJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/UserJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ValidationAmountJpaSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/CategoryRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/FamilyMemberRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/PendingTransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
Labels: documentation, tests, groovy

updates
  CLAUDE.md
  INTEGRATION_TEST_NAMING_PLAN.md
  src/test/functional/groovy/finance/guards/LegacyFixtureGuardFunctionalSpec.groovy
  src/test/functional/groovy/finance/repositories/AccountJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/DescriptionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/FamilyMemberJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/MedicalExpenseJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ParameterJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PendingTransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ReceiptImageJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransferJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/UserJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ValidationAmountJpaSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/CategoryRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/FamilyMemberRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/PendingTransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
Labels: documentation, tests, groovy

funtionalTest updates
  src/test/functional/resources/application-func.yml
  src/test/functional/resources/db/migration/func/V04__drop-payment-constraint.sql
  src/test/functional/resources/db/migration/func/V05__remove-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V06__drop-fk-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V07__extend-account-types-comprehensive.sql
  src/test/functional/resources/db/migration/func/V08__create-medical-provider.sql
  src/test/functional/resources/db/migration/func/V09__create-family-member.sql
  src/test/functional/resources/db/migration/func/V10__create-medical-expense.sql
  src/test/functional/resources/db/migration/func/V11__decouple-medical-expense-payments.sql
Labels: tests

funtionalTest updates
  src/test/functional/resources/application-func.yml
  src/test/functional/resources/db/migration/func/V04__drop-payment-constraint.sql
  src/test/functional/resources/db/migration/func/V05__remove-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V06__drop-fk-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V07__extend-account-types-comprehensive.sql
  src/test/functional/resources/db/migration/func/V08__create-medical-provider.sql
  src/test/functional/resources/db/migration/func/V09__create-family-member.sql
  src/test/functional/resources/db/migration/func/V10__create-medical-expense.sql
  src/test/functional/resources/db/migration/func/V11__decouple-medical-expense-payments.sql
Labels: tests

integrationTest updates
  src/test/integration/resources/application-int.yml
  src/test/integration/resources/db/migration/int/V01__create-ddl-objects-int.sql
  src/test/integration/resources/db/migration/int/V04__drop-payment-constraint.sql
  src/test/integration/resources/db/migration/int/V05__remove-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V06__drop-fk-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V07__extend-account-types-comprehensive.sql
  src/test/integration/resources/db/migration/int/V08__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V09__create-family-member.sql
  src/test/integration/resources/db/migration/int/V10__create-medical-expense.sql
  src/test/integration/resources/db/migration/int/V11__decouple-medical-expense-payments.sql
Labels: tests
