Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

wip
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/JwtTokenProviderService.kt
  src/main/kotlin/finance/services/JwtUserDetailService.kt
  src/main/kotlin/finance/services/UserService.kt
Labels: kotlin

updates
  src/test/unit/groovy/finance/domain/CustomExceptionsSpec.groovy
  src/test/unit/groovy/finance/domain/LoginResponseSpec.groovy
  src/test/unit/groovy/finance/domain/SummarySpec.groovy
  src/test/unit/groovy/finance/domain/TotalsSpec.groovy
  src/test/unit/groovy/finance/domain/TotalsSummarySpec.groovy
Labels: tests, groovy

wip
  docker-compose-prod.yml
  env.gcp
  run.sh
Labels: build

wip
  src/test/functional/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/repositories/PendingTransactionRepository.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

updated functional tests 93% success
  .gitignore
  TODO.md
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ExcelFileControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphqlSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/PaymentBuilder.groovy
  src/test/functional/groovy/finance/repositories/AccountJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/DescriptionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ParameterJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
  src/test/functional/groovy/finance/routes/BaseRouteBuilderSpec.groovy
  src/test/functional/groovy/finance/routes/JsonFileReaderRouteBuilderSpec.groovy
  src/test/functional/resources/application-int.yml
Labels: documentation, tests, kotlin, groovy

wip
  FUNCTIONAL_TEST_COVERAGE_ANALYSIS.md
  INTEGRATION_TEST_FAILURE_ANALYSIS.md
Labels: documentation

JWT library update
  SECURITY.md
  TODO.md
  build.gradle
  run-travis-debug.sh
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
Labels: documentation, tests, build, kotlin, groovy

wip
  TODO.md
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
Labels: documentation, tests, groovy

wip
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

config updates
  CLAUDE.md
  src/test/integration/resources/application-int.yml
Labels: documentation, tests

wip
  TODO.md
Labels: documentation

wip
  CLAUDE.md
Labels: documentation

gradle updates and payment updates
  build.gradle
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  test.gradle
Labels: build, kotlin

added error handling for 400 errors
  TODO.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  .gitignore
Labels: none

wip
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/UuidControllerSpec.groovy
Labels: tests, groovy

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  TODO.md
Labels: documentation

wip
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/UserService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/domain/Payment.kt
Labels: kotlin

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  src/test/integration/groovy/finance/services/ExternalIntegrationsSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/JwtTokenFilterConfigurer.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

fixing up the 400 and 500 error codes - functional tests are failing
  TODO.md
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/UuidController.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/IAccountService.kt
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  run.sh
Labels: none

wip
  src/test/integration/groovy/finance/security/SecurityIntegrationWorkingSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

updates - uuid generate and some flyway fixes
  src/main/kotlin/finance/controllers/UuidController.kt
  src/main/resources/application-prod.yml
  src/main/resources/db/migration/prod/V02__add-performance-indexes.sql
  src/main/resources/db/migration/prod/V03__add-performance-indexes-concurrent.sql.disabled
Labels: kotlin, database, config

wip
  docker-compose-influxdb.yml
  env.influx
Labels: build

wip
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/PaymentService.kt
Labels: kotlin

wip
  src/main/resources/application-prod.yml
Labels: config

version updates
  gradle.properties
Labels: none

updates
  run-jar.sh
  src/test/integration/groovy/finance/security/SecurityIntegrationSimpleSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationWorkingSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

updates
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/resources/data.sql
  src/test/functional/resources/db/migration/func/V01__create-ddl-objects-func.sql
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/integration/resources/db/migration/int/V01__create-ddl-objects-int.sql
Labels: tests, groovy

wip
  run.sh
Labels: none

wip
  src/main/resources/application-prod.yml
Labels: config

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
