Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

wip
  Dockerfile
  deploy-proxmox.sh
Labels: build

wip
  Dockerfile
  deploy-proxmox.sh
Labels: build

added significant logging and error handling
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/CalculationService.kt
  src/main/kotlin/finance/services/ImageProcessingService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

added significant logging and error handling
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/CalculationService.kt
  src/main/kotlin/finance/services/ImageProcessingService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

performance improvements
  PERFORMANCE_MONITORING.md
  build.gradle
  src/main/kotlin/finance/configurations/ConsoleMetricsReporter.kt
  src/main/kotlin/finance/configurations/CorrelationIdFilter.kt
  src/main/kotlin/finance/configurations/PerformanceMonitoringAspect.kt
  src/main/kotlin/finance/configurations/PerformanceMonitoringConfiguration.kt
  src/main/kotlin/finance/configurations/SqlQueryLoggingInterceptor.kt
  src/main/kotlin/finance/controllers/PerformanceMetricsController.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/resources/application-prod.yml
  src/main/resources/logback.xml
Labels: documentation, build, kotlin, config

performance improvements
  PERFORMANCE_MONITORING.md
  build.gradle
  src/main/kotlin/finance/configurations/ConsoleMetricsReporter.kt
  src/main/kotlin/finance/configurations/CorrelationIdFilter.kt
  src/main/kotlin/finance/configurations/PerformanceMonitoringAspect.kt
  src/main/kotlin/finance/configurations/PerformanceMonitoringConfiguration.kt
  src/main/kotlin/finance/configurations/SqlQueryLoggingInterceptor.kt
  src/main/kotlin/finance/controllers/PerformanceMetricsController.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/resources/application-prod.yml
  src/main/resources/logback.xml
Labels: documentation, build, kotlin, config

added database index
  build.gradle
  env.flyway
  src/main/resources/db/migration/prod/V12__add-transaction-account-lookup-index.sql
  src/main/resources/db/migration/prodora/V10__add-transaction-account-lookup-index.sql
  src/main/resources/db/migration/stage/V07__add-transaction-account-lookup-index.sql
  src/test/functional/resources/db/migration/func/V12__add-transaction-account-lookup-index.sql
  src/test/integration/resources/db/migration/int/V12__add-transaction-account-lookup-index.sql
  src/test/oracle/resources/db/migration/oracle/V04__add-transaction-account-lookup-index.sql
Labels: tests, build, database

added database index
  build.gradle
  env.flyway
  src/main/resources/db/migration/prod/V12__add-transaction-account-lookup-index.sql
  src/main/resources/db/migration/prodora/V10__add-transaction-account-lookup-index.sql
  src/main/resources/db/migration/stage/V07__add-transaction-account-lookup-index.sql
  src/test/functional/resources/db/migration/func/V12__add-transaction-account-lookup-index.sql
  src/test/integration/resources/db/migration/int/V12__add-transaction-account-lookup-index.sql
  src/test/oracle/resources/db/migration/oracle/V04__add-transaction-account-lookup-index.sql
Labels: tests, build, database

injection prevention updates
  INJECTION_ATTACK_PREVENTION_PLAN.md
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/kotlin/finance/configurations/SecurityAuditFilter.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/utils/Constants.kt
  src/main/kotlin/finance/utils/IpAddressValidator.kt
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/PaymentInputDtoSpec.groovy
  src/test/unit/groovy/finance/utils/IpAddressValidatorSpec.groovy
Labels: documentation, tests, kotlin, groovy

injection prevention updates
  INJECTION_ATTACK_PREVENTION_PLAN.md
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/kotlin/finance/configurations/SecurityAuditFilter.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/utils/Constants.kt
  src/main/kotlin/finance/utils/IpAddressValidator.kt
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/PaymentInputDtoSpec.groovy
  src/test/unit/groovy/finance/utils/IpAddressValidatorSpec.groovy
Labels: documentation, tests, kotlin, groovy

logic to the controllers
  AUTHORIZATION_MATRIX.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
Labels: documentation, tests, kotlin, groovy

logic to the controllers
  AUTHORIZATION_MATRIX.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  .gitignore
  SECURITY_TESTING.md
  security-test-sqlmap.sh
Labels: documentation

wip
  .gitignore
  SECURITY_TESTING.md
  security-test-sqlmap.sh
Labels: documentation

pagination added
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/StandardRestController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/repositories/CategoryRepository.kt
  src/main/kotlin/finance/repositories/DescriptionRepository.kt
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/repositories/TransferRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransferInputDtoSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/utils/ConstantsSpec.groovy
Labels: tests, kotlin, groovy

pagination added
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/StandardRestController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/repositories/CategoryRepository.kt
  src/main/kotlin/finance/repositories/DescriptionRepository.kt
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/repositories/TransferRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransferInputDtoSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/utils/ConstantsSpec.groovy
Labels: tests, kotlin, groovy

functional test fixes
  .gitignore
  src/test/functional/groovy/finance/controllers/MedicalExpenseController2FunctionalSpec.groovy
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
Labels: tests, groovy

functional test fixes
  .gitignore
  src/test/functional/groovy/finance/controllers/MedicalExpenseController2FunctionalSpec.groovy
  src/test/functional/groovy/finance/security/AuthorizationSecurityFunctionalSpec.groovy
Labels: tests, groovy

added account activeStatus false
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
Labels: tests, kotlin, groovy

added account activeStatus false
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis-v2.yml
Labels: ci/cd

wip
  .github/workflows/codeql-analysis-v2.yml
Labels: ci/cd

Fix CodeQL: remove build-mode parameter, use traditional manual build
  .github/workflows/codeql-analysis-v2.yml
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

Fix CodeQL: remove build-mode parameter, use traditional manual build
  .github/workflows/codeql-analysis-v2.yml
  .github/workflows/codeql-analysis.yml
Labels: ci/cd

Trigger CodeQL workflow
  README.md
Labels: documentation

Trigger CodeQL workflow
  README.md
Labels: documentation

Downgrade Kotlin to 2.2.21 for CodeQL compatibility
  .github/workflows/codeql-analysis.yml
  gradle.properties
Labels: ci/cd

Downgrade Kotlin to 2.2.21 for CodeQL compatibility
  .github/workflows/codeql-analysis.yml
  gradle.properties
Labels: ci/cd

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
