Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

fixes the functionality of FamilyMemberService
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
Labels: tests, kotlin, groovy

service updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/ICategoryService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/IParameterService.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedCategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedDescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/ICategoryService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/IParameterService.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedCategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedDescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, groovy

service update
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, groovy

service update
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

service update
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/PendingTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/PendingTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  tools/smoke_test.py
Labels: documentation

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  tools/smoke_test.py
Labels: documentation

service update
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/FamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
  tools/smoke_test.py
Labels: tests, kotlin, groovy

service update
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/FamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
  tools/smoke_test.py
Labels: tests, kotlin, groovy

plan updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

plan updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/resolvers/AccountGraphQLResolver.kt
  src/main/kotlin/finance/services/IAccountService.kt
  src/main/kotlin/finance/services/IReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/AccountServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/AccountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/AccountGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedReceiptImageServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransferServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/resolvers/AccountGraphQLResolver.kt
  src/main/kotlin/finance/services/IAccountService.kt
  src/main/kotlin/finance/services/IReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/AccountServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/AccountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/AccountGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedReceiptImageServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransferServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: kotlin

service updates
  CATEGORY-SERVICE-MIGRATION.md
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/kotlin/finance/services/IMedicalExpenseService.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerStandardSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/PaymentGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
Labels: documentation, tests, kotlin, groovy

service updates
  CATEGORY-SERVICE-MIGRATION.md
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/kotlin/finance/services/IMedicalExpenseService.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerStandardSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/PaymentGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  build.gradle
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransferServiceSpec.groovy
Labels: tests, build, kotlin, groovy

service update
  build.gradle
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransferServiceSpec.groovy
Labels: tests, build, kotlin, groovy

wip
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerAdviceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerAdviceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/StandardizedReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/StandardizedReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
Labels: tests, groovy

wip
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

wip
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

service update
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

service update
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

service update
  src/main/kotlin/finance/configurations/GraphQLWiringConfig.kt
  src/test/integration/groovy/finance/resolvers/TransferGraphQLResolverIntegrationSpec.groovy
Labels: tests, kotlin, groovy

service update
  src/main/kotlin/finance/configurations/GraphQLWiringConfig.kt
  src/test/integration/groovy/finance/resolvers/TransferGraphQLResolverIntegrationSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
  src/test/unit/groovy/finance/services/StandardizedValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/test/integration/groovy/finance/repositories/TransactionRepositoryDateRangeIntSpec.groovy
Labels: tests, kotlin, groovy

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
