Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

wip
  src/test/functional/groovy/finance/controllers/AccountControllerIsolatedSpec.groovy
Labels: tests, groovy

updates to the bootrun script
  env.flyway-repair
  run-bootrun.sh
Labels: none

wip
  SECURITY_MIGRATION_GUIDE.md
Labels: documentation

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
Labels: documentation

cert updates
  cert-install.sh
Labels: none

added family logic for medical
  MEDICAL_EXPENSE_PLAN.md
  run.sh
  src/main/kotlin/finance/domain/FamilyMember.kt
  src/main/kotlin/finance/domain/FamilyRelationship.kt
  src/main/kotlin/finance/utils/FamilyRelationshipConverter.kt
  src/main/resources/db/migration/prod/V09__create-family-member.sql
  src/main/resources/db/migration/prodora/V07__create-family-member.sql
  src/main/resources/db/migration/stage/V04__create-family-member.sql
  src/test/functional/resources/db/migration/func/V05__create-family-member.sql
  src/test/integration/resources/db/migration/int/V05__create-family-member.sql
  src/test/oracle/resources/db/migration/ora/V05__create-family-member.sql
  src/test/unit/groovy/finance/domain/FamilyMemberSpec.groovy
  src/test/unit/groovy/finance/domain/FamilyRelationshipSpec.groovy
  src/test/unit/groovy/finance/helpers/FamilyMemberBuilder.groovy
Labels: documentation, tests, kotlin, groovy, database

fixed whitespace
  MEDICAL_EXPENSE_PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/repositories/FamilyMemberRepository.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/services/IMedicalExpenseService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/resources/db/migration/prod/V09__create-family-member.sql
  src/main/resources/db/migration/prodora/V07__create-family-member.sql
  src/main/resources/db/migration/stage/V04__create-family-member.sql
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/functional/resources/db/migration/func/V05__create-family-member.sql
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/resources/db/migration/int/V05__create-family-member.sql
  src/test/oracle/resources/db/migration/ora/V05__create-family-member.sql
  src/test/unit/groovy/finance/domain/ClaimStatusJsonSpec.groovy
  src/test/unit/groovy/finance/domain/FamilyRelationshipSpec.groovy
  src/test/unit/groovy/finance/domain/MedicalExpenseSpec.groovy
  src/test/unit/groovy/finance/domain/MedicalProviderTypeSpec.groovy
  src/test/unit/groovy/finance/domain/NetworkStatusSpec.groovy
Labels: documentation, tests, kotlin, groovy, database

merge description updates
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerIsolatedSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
Labels: tests, kotlin, groovy

test(func): make TestDataManager.createMinimalAccountsFor idempotent to avoid duplicate key on account inserts
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
Labels: tests, groovy

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  cert-install.sh
  run-bootrun.sh
  src/test/functional/groovy/finance/controllers/LoginControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerIsolatedSpec.groovy
Labels: documentation, tests, groovy

fuctionalTest migration updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/LoginControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerIsolatedSpec.groovy
Labels: documentation, tests, groovy

functional test updates
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
Labels: tests, groovy

graphql logging
  src/main/kotlin/finance/configurations/AliasWebConfig.kt
  src/main/kotlin/finance/configurations/RequestLoggingInterceptor.kt
  src/test/unit/groovy/finance/configurations/RequestLoggingInterceptorSpec.groovy
Labels: tests, kotlin, groovy

fuctionalTest migration updates
  src/test/functional/groovy/finance/controllers/PaymentControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
Labels: tests, groovy

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
Labels: documentation

family member api added
  cert-install.sh
  docker-entrypoint.sh
  run-bootrun.sh
  run-deploy.sh
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/repositories/FamilyMemberRepository.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerIsolatedSpec.groovy
Labels: tests, kotlin, groovy

new unit tests
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: tests, groovy

updates
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/controllers/ValidationAmountControllerAdvice.kt
Labels: kotlin

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
Labels: documentation

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  readme.md
  src/main/kotlin/finance/services/ValidationAmountService.kt
Labels: documentation, kotlin

functional test updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
Labels: documentation, tests, groovy

functional test updates
  src/test/functional/groovy/finance/repositories/AccountJpaSpec.groovy
Labels: tests, groovy

wip
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  MEDICAL_EXPENSE_PLAN.md
  run-screen-bootrun.sh
Labels: documentation

wip
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
Labels: tests, groovy

added medical db changes and domain objects
  MEDICAL_EXPENSE_PLAN.md
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/domain/AccountType.kt
  src/main/kotlin/finance/domain/MedicalProvider.kt
  src/main/kotlin/finance/domain/MedicalProviderType.kt
  src/main/kotlin/finance/domain/NetworkStatus.kt
  src/main/kotlin/finance/utils/AccountTypeConverter.kt
  src/main/kotlin/finance/utils/MedicalProviderTypeConverter.kt
  src/main/kotlin/finance/utils/NetworkStatusConverter.kt
  src/main/resources/db/migration/prod/V07__extend-account-types-comprehensive.sql
  src/main/resources/db/migration/prod/V08__create-medical-provider.sql
  src/main/resources/db/migration/prodora/V02__extend-account-types-comprehensive.sql
  src/main/resources/db/migration/prodora/V03__create-medical-provider.sql
  src/main/resources/db/migration/stage/V02__extend-account-types-comprehensive.sql
  src/main/resources/db/migration/stage/V03__create-medical-provider.sql
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
  src/test/functional/resources/db/migration/func/V03__extend-account-types-comprehensive.sql
  src/test/functional/resources/db/migration/func/V04__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V03__extend-account-types-comprehensive.sql
  src/test/integration/resources/db/migration/int/V04__create-medical-provider.sql
  src/test/oracle/resources/db/migration/oracle/V02__extend-account-types-comprehensive.sql
  src/test/oracle/resources/db/migration/oracle/V03__create-medical-provider.sql
  src/test/unit/groovy/finance/utils/AccountTypeConverterSpec.groovy
Labels: documentation, tests, kotlin, groovy, database

wip
  build.gradle
  gradle.properties
Labels: build

wip
  build.gradle
  src/test/unit/groovy/finance/domain/MedicalProviderSpec.groovy
  src/test/unit/groovy/finance/domain/MedicalProviderTypeSpec.groovy
  src/test/unit/groovy/finance/domain/NetworkStatusSpec.groovy
  src/test/unit/groovy/finance/helpers/MedicalProviderBuilder.groovy
Labels: tests, build, groovy

added smartbuilders and Isoleded controllers
  src/test/functional/groovy/finance/controllers/LoginControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartLoginRequestBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalProviderBuilder.groovy
Labels: tests, groovy

fuctionalTest migration updates
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerIsolatedSpec.groovy
Labels: tests, groovy

integration test updates
  INTEGRATION_TEST_MIGRATION_GUIDE.md
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartCategoryBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartDescriptionBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartFamilyMemberBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartLoginRequestBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartMedicalProviderBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartParameterBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartReceiptImageBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartTransferBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartUserBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartValidationAmountBuilder.groovy
  src/test/integration/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/helpers/TestFixtures.groovy
Labels: documentation, tests, groovy

run.sh updates
  run.sh
Labels: none

functional test updates
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
Labels: tests, groovy

fuctionalTest migration updates
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/functional/groovy/finance/controllers/TransferControllerIsolatedSpec.groovy
Labels: documentation, tests, groovy

functional application, has some new logic for graphql that needs functionalTest
  src/test/functional/groovy/finance/resolvers/PaymentGraphQLResolverFunctionalSpec.groovy
  src/test/functional/groovy/finance/resolvers/TransferGraphQLResolverFunctionalSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: tests, groovy

cert updates
  cert-legacy-install.sh
Labels: none

functional test updates
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerIsolatedSpec.groovy
  src/test/functional/resources/data.sql
Labels: tests, groovy

refactor functional tests for simplification
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  SECURITY.md
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/configurations/SecurityAuditFilter.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/UserService.kt
  src/test/functional/groovy/finance/controllers/AccountControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartCategoryBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartDescriptionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartParameterBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/TransferGraphQLResolverIntegrationSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: documentation, tests, kotlin, groovy

fuctionalTest migration updates
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/configurations/SecurityAuditFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/test/functional/groovy/finance/controllers/SecurityAuditSpec.groovy
Labels: tests, kotlin, groovy

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
