Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

wip
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/domain/LoginResponse.kt
  src/main/kotlin/finance/repositories/UserRepository.kt
  src/main/kotlin/finance/services/JwtUserDetailService.kt
  src/main/kotlin/finance/services/UserService.kt
Labels: kotlin

wip
  cert-install.sh
  src/main/kotlin/finance/processors/InsertTransactionProcessor.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

updates
  Dockerfile-nginx
  cert-install.sh
  default.vcl
  docker-compose-base.yml
  docker-compose-elk.yml
  docker-compose-nginx.yml
  docker-compose-oracle.yml
  docker-compose-postgresql.yml
  docker-compose-prod.yml
  docker-compose-prodora.yml
  docker-compose-stage.yml
  docker-compose-varnish.yml
  nginx.conf
  run.sh
Labels: build

updates
  .gitignore
  build.gradle
  gradle.properties
Labels: build

wip
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/repositories/TransferRepository.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/ValidationAmountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/services/ParameterService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/domain/AccountType.kt
  src/main/kotlin/finance/domain/TotalsSummary.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IAccountService.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/IAccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

latest-deployed-version
  build.gradle
  gradle.properties
  src/main/resources/application-prod.yml
Labels: build, config

wip
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/domain/DescriptionWithCount.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

wip
  docker-compose-postgresql.yml
  env.prod
Labels: build

wip
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: database

wip
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/repositories/CategoryRepository.kt
  src/main/kotlin/finance/repositories/DescriptionRepository.kt
  src/main/kotlin/finance/repositories/ParameterRepository.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/ICategoryService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
  src/main/kotlin/finance/services/IParameterService.kt
  src/main/kotlin/finance/services/ParameterService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/IAccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  src/main/kotlin/finance/controllers/DescriptionController.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/ICategoryService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

cascade
  src/main/kotlin/finance/services/AccountService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: database

wip
  src/main/kotlin/finance/controllers/TransferController.kt
Labels: kotlin

wip
  build.gradle
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: build, kotlin

wip
  run.sh
Labels: none

pending-transaction-schema
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/repositories/PendingTransaction.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

updates
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/ExcelFileService.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

updates
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  src/main/kotlin/finance/domain/PendingTransaction.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

functional tests updated and fixed - using func profile
  TODO.md
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/AccountBuilder.groovy
  src/test/functional/groovy/finance/repositories/AccountJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/CategoryJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/DescriptionJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/ParameterJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/PaymentJpaSpec.groovy
  src/test/functional/groovy/finance/repositories/TransactionJpaSpec.groovy
  src/test/functional/groovy/finance/routes/BaseRouteBuilderSpec.groovy
  src/test/functional/groovy/finance/routes/JsonFileReaderRouteBuilderSpec.groovy
  src/test/functional/resources/application-func.yml
  src/test/functional/resources/application-int.yml
  src/test/functional/resources/data.sql
  src/test/functional/resources/db/migration/func/V01__create-ddl-objects-func.sql
  src/test/unit/groovy/finance/helpers/AccountBuilder.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
  test.gradle
Labels: documentation, tests, groovy

added 409 HTTP status codes for all duplocate insert attempts
  TODO.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerSpec.groovy
  src/test/functional/groovy/finance/helpers/UserBuilder.groovy
Labels: documentation, tests, kotlin, groovy

wip
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
  src/test/integration/resources/application-int.yml
Labels: tests, groovy

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
