Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

integrationTest updates
  src/test/integration/resources/application-int.yml
  src/test/integration/resources/db/migration/int/V01__create-ddl-objects-int.sql
  src/test/integration/resources/db/migration/int/V04__drop-payment-constraint.sql
  src/test/integration/resources/db/migration/int/V05__remove-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V06__drop-fk-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V07__extend-account-types-comprehensive.sql
  src/test/integration/resources/db/migration/int/V08__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V09__create-family-member.sql
  src/test/integration/resources/db/migration/int/V10__create-medical-expense.sql
  src/test/integration/resources/db/migration/int/V11__decouple-medical-expense-payments.sql
Labels: tests

hybernate and flyway eecution order
  CLAUDE.md
  INTEGRATION_TEST_MIGRATION_GUIDE.md
  SPRINGBOOT4-UPGRADE.md
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/resources/application-int.yml
Labels: documentation, tests, groovy

hybernate and flyway eecution order
  CLAUDE.md
  INTEGRATION_TEST_MIGRATION_GUIDE.md
  SPRINGBOOT4-UPGRADE.md
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/resources/application-int.yml
Labels: documentation, tests, groovy

added null logic validation
  CONTROLLER_DEFENSIVE_PROGRAMMING_AUDIT.md
  SPRING_BOOT_4_KOTLIN_WARNINGS_FIX.md
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/configurations/TimestampScalar.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

added null logic validation
  CONTROLLER_DEFENSIVE_PROGRAMMING_AUDIT.md
  SPRING_BOOT_4_KOTLIN_WARNINGS_FIX.md
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/configurations/TimestampScalar.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

added test coverage
  src/test/unit/groovy/finance/configurations/BeanConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/CustomPropertiesSpec.groovy
  src/test/unit/groovy/finance/configurations/DatabaseResilienceConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/OpenApiConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/repositories/AccountRepositorySpec.groovy
  src/test/unit/groovy/finance/utils/ValidDateSpec.groovy
  src/test/unit/groovy/finance/utils/ValidImageSpec.groovy
  src/test/unit/groovy/finance/utils/ValidTimestampSpec.groovy
Labels: tests, groovy

added test coverage
  src/test/unit/groovy/finance/configurations/BeanConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/CustomPropertiesSpec.groovy
  src/test/unit/groovy/finance/configurations/DatabaseResilienceConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/OpenApiConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/repositories/AccountRepositorySpec.groovy
  src/test/unit/groovy/finance/utils/ValidDateSpec.groovy
  src/test/unit/groovy/finance/utils/ValidImageSpec.groovy
  src/test/unit/groovy/finance/utils/ValidTimestampSpec.groovy
Labels: tests, groovy

updates
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/resolvers/TransactionBatchResolver.kt
  src/test/unit/groovy/finance/ApplicationSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionBatchMappingSpec.groovy
  src/test/unit/groovy/finance/exceptions/DuplicateMedicalExpenseExceptionSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/ICalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/IImageProcessingServiceSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/resolvers/TransactionBatchResolver.kt
  src/test/unit/groovy/finance/ApplicationSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionBatchMappingSpec.groovy
  src/test/unit/groovy/finance/exceptions/DuplicateMedicalExpenseExceptionSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/ICalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/IImageProcessingServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/test/unit/groovy/finance/configurations/DataSourcePropertiesSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedBaseControllerSpec.groovy
  src/test/unit/groovy/finance/repositories/CategoryRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/DescriptionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/FamilyMemberRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/MedicalExpenseRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ParameterRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PaymentRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PendingTransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ReceiptImageRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransferRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/UserRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ValidationAmountRepositorySpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/configurations/DataSourcePropertiesSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedBaseControllerSpec.groovy
  src/test/unit/groovy/finance/repositories/CategoryRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/DescriptionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/FamilyMemberRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/MedicalExpenseRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ParameterRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PaymentRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PendingTransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ReceiptImageRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransferRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/UserRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ValidationAmountRepositorySpec.groovy
Labels: tests, groovy

remove old parameter legacy code
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
Labels: tests, kotlin, groovy

remove old parameter legacy code
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
Labels: tests, kotlin, groovy

remove old description legacy code
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
Labels: tests, kotlin, groovy

remove old description legacy code
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
Labels: tests, kotlin, groovy

fix payments
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: tests, kotlin, groovy

fix payments
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  PAYMENT_TRANSACTION_ISSUES.md
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  PAYMENT_TRANSACTION_ISSUES.md
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix payment delete
  PAYMENT_CASCADE_DELETE_PLAN.md
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix payment delete
  PAYMENT_CASCADE_DELETE_PLAN.md
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix payment delete
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
Labels: kotlin

fix payment delete
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
Labels: kotlin

graphql updates
  gradle.properties
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/CategoryMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/CategoryQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: tests, kotlin, groovy, graphql

graphql updates
  gradle.properties
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/CategoryMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/CategoryQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: tests, kotlin, groovy, graphql

fix payment delete
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/ParameterQueryIntSpec.groovy
Labels: tests, kotlin, groovy, graphql

fix payment delete
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/ParameterQueryIntSpec.groovy
Labels: tests, kotlin, groovy, graphql

graphql updates
  src/main/kotlin/finance/controllers/dto/CategoryInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/CategoryMutationIntSpec.groovy
Labels: tests, kotlin, groovy, graphql

graphql updates
  src/main/kotlin/finance/controllers/dto/CategoryInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/CategoryMutationIntSpec.groovy
Labels: tests, kotlin, groovy, graphql

description graphql
  src/main/kotlin/finance/controllers/dto/DescriptionInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/DescriptionMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/DescriptionQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/DescriptionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

description graphql
  src/main/kotlin/finance/controllers/dto/DescriptionInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/DescriptionMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/DescriptionQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/DescriptionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/main/kotlin/finance/controllers/dto/MedicalExpenseInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/MedicalExpenseMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/MedicalExpenseQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/main/kotlin/finance/controllers/dto/MedicalExpenseInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/MedicalExpenseMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/MedicalExpenseQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/main/kotlin/finance/controllers/dto/ValidationAmountInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/ValidationAmountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/ValidationAmountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/main/kotlin/finance/controllers/dto/ValidationAmountInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/ValidationAmountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/ValidationAmountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, kotlin, groovy, graphql

wip
  src/test/unit/groovy/finance/controllers/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/graphql/GraphQLQueryControllerSpec.groovy
Labels: tests, groovy

adding graphql capabilities
  POSTGRESQL_SECURITY_RECOMMENDATIONS.md
  POSTGRESQL_SSL_CERTIFICATE_MANAGEMENT.md
  SSL_SCRIPTS_README.md
  check-postgres-ssl-expiry.sh
  env.prod
  renew-postgres-ssl.sh
  src/main/kotlin/finance/controllers/dto/TransactionInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/application-prod.yml
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/AccountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/AccountQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransactionMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransactionQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransactionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy, config, graphql
