Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

security updates v2
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/domain/TokenBlacklist.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/repositories/TokenBlacklistRepository.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
  src/main/resources/db/migration/prod/V23__create-token-blacklist.sql
  src/main/resources/db/migration/prodora/V11__create-token-blacklist.sql
  src/main/resources/db/migration/stage/V08__create-token-blacklist.sql
Labels: kotlin, database, config

security updates JWT
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/LoginAttemptService.kt
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
Labels: tests, kotlin, groovy

fix lint issues
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/LoginAttemptService.kt
Labels: kotlin

wip
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
Labels: tests, groovy

fix integrationTest
  src/main/kotlin/finance/domain/Payment.kt
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterMutationIntSpec.groovy
  src/test/integration/resources/db/migration/int/V02__add-token-blacklist-int.sql
Labels: tests, kotlin, groovy

wip
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartUserBuilder.groovy
Labels: tests, groovy

JWT updates
  src/main/kotlin/finance/Application.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/domain/LoginRequest.kt
  src/main/kotlin/finance/services/LoginAttemptService.kt
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/services/LoginAttemptServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  AUTHORIZATION_MATRIX.md
  CONTROLLER_DEFENSIVE_PROGRAMMING_AUDIT.md
  CONTROLLER_NORMALIZATION_PLAN.md
  DEPLOY_RASPI_PODMAN_GUIDE.md
  DESCRIPTION_DETAILS.md
  DOCKER_SECURITY_IMPROVEMENTS.md
  FUNCTIONAL_TEST_FIX.md
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  GEMINI.md
  GRAPHQL.md
  INJECTION_ATTACK_PREVENTION_PLAN.md
  INTEGRATION_TEST_MIGRATION_GUIDE.md
  INTEGRATION_TEST_NAMING_PLAN.md
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  MEDICAL_CLAIMS_INSERT.md
  MEDICAL_EXPENSE_PLAN.md
  MULTI-TENANCY-PLAN.md
  PAYMENT_CASCADE_DELETE_PLAN.md
  PAYMENT_FLEXIBILITY_PLAN.md
  PAYMENT_TRANSACTION_ISSUES.md
  PERFORMANCE_MONITORING.md
  POSTGRESQL_IDLE_TRANSACTION_FIX.md
  POSTGRESQL_SECURITY_RECOMMENDATIONS.md
  REST_TEST_BRITTLENESS_ANALYSIS.md
  REST_TEST_FIX_SUMMARY.md
  SERVICE_LAYER_NORMALIZATION_PLAN.md
  SPRINGBOOT4-UPGRADE.md
  SPRING_BOOT_4_KOTLIN_WARNINGS_FIX.md
  TEST_CONSOLIDATION_SUMMARY.md
  TEST_COVERAGE_IMPROVEMENTS.md
  TODO.md
  TRANSACTION_DATE_FIX_PLAN.md
  TROUBLESHOOTING_INTEGRATION_TESTS.md
  UNIFIED_SECURITY_DEPLOYMENT.md
Labels: documentation

wip
  cert-check-postgres-expiry.sh
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/domain/LoginRequest.kt
  src/main/resources/application-prod.yml
Labels: kotlin, config

wip
  cert-check-postgres-expiry.sh
  cert-check-postgres.sh
  cert-renew-postgres.sh
  cert-validation-postgresql-server.sh
Labels: none

wip
  cert-check-expiry.sh
  cert-install.sh
Labels: none

wip
  cert-renew-postgres.sh
  cleanup-orphaned-descriptions.sh
Labels: none

wip
  gradle.properties
Labels: none

wip
  src/test/functional/resources/db/migration/func/V01__consolidated-schema-func.sql
  src/test/functional/resources/db/migration/func/V02__add-token-blacklist-func.sql
  src/test/integration/resources/db/migration/int/V01__consolidated-schema-int.sql
Labels: tests

removed dead code
  src/main/kotlin/finance/controllers/UserController.kt
  src/test/functional/groovy/finance/controllers/UserControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerSpec.groovy
Labels: tests, kotlin, groovy

fixed receiptImage bug
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

fixed receiptImage bug for delete
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

fixed receiptImage bug for delete
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

wip
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
Labels: tests, groovy

performance improvements
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
Labels: tests, kotlin, groovy

more performance improvements
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/repositories/ValidationAmountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
Labels: tests, kotlin, groovy

stay logged in
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

wip
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
Labels: tests, groovy

robust reusable code
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/domain/ServiceResultExtensions.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
Labels: tests, kotlin, groovy

robust reusable code
  src/main/kotlin/finance/domain/ServiceResultExtensions.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/ValidationAmountService.kt
  src/main/kotlin/finance/utils/OptionalExtensions.kt
Labels: kotlin

wip
  src/test/unit/groovy/finance/controllers/CsrfControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PerformanceMetricsControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/CategoryInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/MedicalExpenseInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/ParameterInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransactionAccountChangeInputDtoSpec.groovy
  test-coverage.sh
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/services/TokenBlacklistServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/domain/AccountSpec.groovy
  src/test/unit/groovy/finance/domain/CustomExceptionsSpec.groovy
  src/test/unit/groovy/finance/domain/ServiceResultExtensionsSpec.groovy
  src/test/unit/groovy/finance/domain/TokenBlacklistSpec.groovy
  src/test/unit/groovy/finance/domain/TransactionSpec.groovy
Labels: tests, groovy

added tests
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/FamilyMember.kt
  src/main/kotlin/finance/domain/MedicalProvider.kt
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Summary.kt
  src/main/kotlin/finance/domain/Totals.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/domain/CategorySpec.groovy
  src/test/unit/groovy/finance/domain/DescriptionSpec.groovy
  src/test/unit/groovy/finance/domain/ParameterSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentSpec.groovy
  src/test/unit/groovy/finance/domain/PendingTransactionSpec.groovy
  src/test/unit/groovy/finance/domain/TotalsSpec.groovy
  src/test/unit/groovy/finance/domain/TransferSpec.groovy
  src/test/unit/groovy/finance/domain/UserSpec.groovy
  src/test/unit/groovy/finance/domain/ValidationAmountSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
Labels: tests, kotlin, groovy

added test coverage
  src/test/unit/groovy/finance/configurations/ConsoleMetricsReporterSpec.groovy
  src/test/unit/groovy/finance/configurations/CorrelationIdFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/FunctionalTestBootstrapSpec.groovy
  src/test/unit/groovy/finance/configurations/HttpErrorLoggingFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/JacksonConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/PerformanceMonitoringAspectSpec.groovy
  src/test/unit/groovy/finance/configurations/PerformanceMonitoringConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/SpaCsrfTokenRequestHandlerSpec.groovy
  src/test/unit/groovy/finance/configurations/SqlQueryLoggingInterceptorSpec.groovy
  src/test/unit/groovy/finance/configurations/SqlQueryPerformanceLoggerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ImageProcessingServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/MeterServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/FamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedBaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/configurations/SqlQueryLoggingInterceptorSpec.groovy
Labels: tests, groovy

added new tests
  .gitignore
  src/main/kotlin/finance/controllers/StandardRestController.kt
  src/test/unit/groovy/finance/configurations/HttpErrorLoggingFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/LoggingCorsFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/PerformanceMonitoringAspectSpec.groovy
  src/test/unit/groovy/finance/configurations/RequestLoggingFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/SecurityAuditFilterSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/AccountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/CategoryInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/DescriptionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/MedicalExpenseInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/ParameterInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/PaymentInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransactionAccountChangeInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransactionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransferInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/ValidationAmountInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/test/unit/groovy/finance/configurations/GraphQLInterceptorSpec.groovy
  src/test/unit/groovy/finance/configurations/SecurityAuditFilterSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/configurations/CustomPropertiesSpec.groovy
  src/test/unit/groovy/finance/configurations/NoOpResilienceConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/ResilienceComponentsSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/CrudBaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/LoginAttemptServiceSpec.groovy
  src/test/unit/groovy/finance/services/TokenBlacklistServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/configurations/DatabaseResilienceConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/HttpErrorLoggingFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/InfluxDbConfigurationSpec.groovy
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/CalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
Labels: tests, groovy
