Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

updates
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
Labels: tests, kotlin, groovy

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
Labels: documentation

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
Labels: documentation

raspi deployment
  DEPLOY_RASPI_PODMAN_GUIDE.md
  Dockerfile.arm64
  deploy-raspi.sh
  env.raspi
  src/main/resources/application-prod.yml
  verify-raspi-deployment.sh
Labels: documentation, build, config

raspi deployment
  DEPLOY_RASPI_PODMAN_GUIDE.md
  Dockerfile.arm64
  deploy-raspi.sh
  env.raspi
  src/main/resources/application-prod.yml
  verify-raspi-deployment.sh
Labels: documentation, build, config

controller cleanup
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/AccountControllerAdvice.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/CategoryControllerAdvice.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/DescriptionControllerAdvice.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/LoginControllerAdvice.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ParameterControllerAdvice.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PaymentControllerAdvice.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/PendingTransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/TransferControllerAdvice.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/controllers/UserControllerAdvice.kt
  src/main/kotlin/finance/controllers/UuidController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/controllers/ValidationAmountControllerAdvice.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerAdviceSpec.groovy
Labels: tests, kotlin, groovy

controller cleanup
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/AccountControllerAdvice.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/CategoryControllerAdvice.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/DescriptionControllerAdvice.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/LoginControllerAdvice.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ParameterControllerAdvice.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PaymentControllerAdvice.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/PendingTransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransactionControllerAdvice.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/TransferControllerAdvice.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/controllers/UserControllerAdvice.kt
  src/main/kotlin/finance/controllers/UuidController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/controllers/ValidationAmountControllerAdvice.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/AccountControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerAdviceSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerAdviceSpec.groovy
Labels: tests, kotlin, groovy

adding tests and simplify services
  .gitignore
  SECURITY_MIGRATION_GUIDE.md
  build.gradle
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/MeterService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/services/CalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/MeterServiceSpec.groovy
  src/test/unit/groovy/finance/utils/DateAndTimestampValidatorSpec.groovy
  src/test/unit/groovy/finance/utils/EnumConvertersSpec.groovy
  src/test/unit/groovy/finance/utils/FamilyRelationshipConverterSpec.groovy
  src/test/unit/groovy/finance/utils/ImageValidatorSpec.groovy
  src/test/unit/groovy/finance/utils/LowerCaseConverterSpec.groovy
  src/test/unit/groovy/finance/utils/MedicalProviderTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/NetworkStatusConverterSpec.groovy
Labels: documentation, tests, build, kotlin, groovy

adding tests and simplify services
  .gitignore
  SECURITY_MIGRATION_GUIDE.md
  build.gradle
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/MeterService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/services/CalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/MeterServiceSpec.groovy
  src/test/unit/groovy/finance/utils/DateAndTimestampValidatorSpec.groovy
  src/test/unit/groovy/finance/utils/EnumConvertersSpec.groovy
  src/test/unit/groovy/finance/utils/FamilyRelationshipConverterSpec.groovy
  src/test/unit/groovy/finance/utils/ImageValidatorSpec.groovy
  src/test/unit/groovy/finance/utils/LowerCaseConverterSpec.groovy
  src/test/unit/groovy/finance/utils/MedicalProviderTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/NetworkStatusConverterSpec.groovy
Labels: documentation, tests, build, kotlin, groovy

dependency-check
  .github/workflows/dependency-check.yml
  run-dependency-check.sh
Labels: ci/cd

dependency-check
  .github/workflows/dependency-check.yml
  run-dependency-check.sh
Labels: ci/cd

fixes
  .github/workflows/dependency-check.yml
  build.gradle
  run-dependency-check.sh
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
Labels: tests, build, ci/cd, kotlin, groovy

fixes
  .github/workflows/dependency-check.yml
  build.gradle
  run-dependency-check.sh
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
Labels: tests, build, ci/cd, kotlin, groovy

wip
  gradle.properties
Labels: none

wip
  gradle.properties
Labels: none

payments updates
  CLAUDE.md
  PAYMENT_FLEXIBILITY_PLAN.md
  TEST_COVERAGE_IMPROVEMENTS.md
  src/main/kotlin/finance/domain/PaymentBehavior.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/integration/groovy/finance/graphql/PaymentEdgeCasesIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentBehaviorAdditionalSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentBehaviorSpec.groovy
  src/test/unit/groovy/finance/services/PaymentAmountCalculationSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

payments updates
  CLAUDE.md
  PAYMENT_FLEXIBILITY_PLAN.md
  TEST_COVERAGE_IMPROVEMENTS.md
  src/main/kotlin/finance/domain/PaymentBehavior.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/integration/groovy/finance/graphql/PaymentEdgeCasesIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentBehaviorAdditionalSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentBehaviorSpec.groovy
  src/test/unit/groovy/finance/services/PaymentAmountCalculationSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedPaymentServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

version updates
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

version updates
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

upgrade tests for spring boot 4.0 RC1
  CLAUDE.md
  FUNCTIONAL_TEST_FIX.md
  REST_TEST_BRITTLENESS_ANALYSIS.md
  REST_TEST_FIX_SUMMARY.md
  TEST_CONSOLIDATION_SUMMARY.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/test/functional/groovy/finance/config/FunctionalTestJacksonConfiguration.groovy
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/resources/application-func.yml
  src/test/integration/groovy/finance/configurations/DatabaseResilienceIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

upgrade tests for spring boot 4.0 RC1
  CLAUDE.md
  FUNCTIONAL_TEST_FIX.md
  REST_TEST_BRITTLENESS_ANALYSIS.md
  REST_TEST_FIX_SUMMARY.md
  TEST_CONSOLIDATION_SUMMARY.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/test/functional/groovy/finance/config/FunctionalTestJacksonConfiguration.groovy
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/resources/application-func.yml
  src/test/integration/groovy/finance/configurations/DatabaseResilienceIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

payment flexibility
  PAYMENT_FLEXIBILITY_PLAN.md
  src/main/kotlin/finance/domain/PaymentBehavior.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
Labels: documentation, tests, kotlin, groovy

payment flexibility
  PAYMENT_FLEXIBILITY_PLAN.md
  src/main/kotlin/finance/domain/PaymentBehavior.kt
  src/main/kotlin/finance/services/StandardizedPaymentService.kt
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix null jackson issues
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/resources/application.yml
  src/test/integration/resources/application-int.yml
  src/test/oracle/resources/application-ora.yml
  src/test/performance/resources/application-perf.yml
  src/test/unit/resources/application-unit.yml
Labels: tests, kotlin, config

fix null jackson issues
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/resources/application.yml
  src/test/integration/resources/application-int.yml
  src/test/oracle/resources/application-ora.yml
  src/test/performance/resources/application-perf.yml
  src/test/unit/resources/application-unit.yml
Labels: tests, kotlin, config

wip
  env.secrets
Labels: none

version upgrade
  build.gradle
  gradle.properties
  src/main/kotlin/finance/configurations/TimestampScalar.kt
Labels: build, kotlin

version upgrade
  build.gradle
  gradle.properties
  src/main/kotlin/finance/configurations/TimestampScalar.kt
Labels: build, kotlin

renamed files
  CONTROLLER_NORMALIZATION_PLAN.md
  DOCKER_SECURITY_IMPROVEMENTS.md
  README.md
  SERVICE_LAYER_NORMALIZATION_PLAN.md
  UNIFIED_SECURITY_DEPLOYMENT.md
  config/codenarc/codenarc-main.groovy
  config/codenarc/codenarc-test.groovy
  src/test/oracle/groovy/finance/OracleApplicationContextSpec.groovy
  src/test/performance/groovy/finance/controller/TransactionControllerPerfSpec.groovy
Labels: documentation, tests, groovy

renamed files
  CONTROLLER_NORMALIZATION_PLAN.md
  DOCKER_SECURITY_IMPROVEMENTS.md
  README.md
  SERVICE_LAYER_NORMALIZATION_PLAN.md
  UNIFIED_SECURITY_DEPLOYMENT.md
  config/codenarc/codenarc-main.groovy
  config/codenarc/codenarc-test.groovy
  src/test/oracle/groovy/finance/OracleApplicationContextSpec.groovy
  src/test/performance/groovy/finance/controller/TransactionControllerPerfSpec.groovy
Labels: documentation, tests, groovy

wip
  TRANSACTION_DATE_FIX_PLAN.md
Labels: documentation

wip
  TRANSACTION_DATE_FIX_PLAN.md
Labels: documentation

fix the date UTC issues: transaction_date is a date and not a datetime
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/dto/MedicalExpenseInputDto.kt
  src/main/kotlin/finance/controllers/dto/PaymentInputDto.kt
  src/main/kotlin/finance/controllers/dto/TransactionInputDto.kt
  src/main/kotlin/finance/controllers/dto/TransferInputDto.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
Labels: kotlin

fix the date UTC issues: transaction_date is a date and not a datetime
  src/main/kotlin/finance/configurations/SqlDateScalar.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/dto/MedicalExpenseInputDto.kt
  src/main/kotlin/finance/controllers/dto/PaymentInputDto.kt
  src/main/kotlin/finance/controllers/dto/TransactionInputDto.kt
  src/main/kotlin/finance/controllers/dto/TransferInputDto.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
Labels: kotlin

wip
  env.secrets
  src/main/kotlin/finance/utils/DateValidator.kt
Labels: kotlin

wip
  src/main/kotlin/finance/utils/DateValidator.kt
Labels: kotlin

fix the tests with the latest LocalDate change
  src/test/functional/groovy/finance/controllers/AccountValidationSyncFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransferBuilder.groovy
Labels: tests, groovy

fix the tests with the latest LocalDate change
  src/test/functional/groovy/finance/controllers/AccountValidationSyncFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/DescriptionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPendingTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransferBuilder.groovy
Labels: tests, groovy

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: build

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: build
