Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

updates
  .gitignore
  CATEGORY-CONTROLLER-MIGRATION.md
  CONTROLLER-NORMALIZATION-PLAN.md
  DESCRIPTION-CONTROLLER-MIGRATION.md
  PAYMENT_CONTROLLER_MIGRATION.md
  UNIFIED-SECURITY-DEPLOYMENT.md
  deploy-gcp.sh
  deploy-proxmox.sh
  docker-compose-gcp.yml
  docker-compose-postgresql.yml
  docker-compose-secure.yml
  env.postgresql
  nginx-gcp.conf
  run-bootrun.sh
  run.sh
  scripts/diagnose-gcp-deployment.sh
  scripts/fix-docker-permissions.sh
  scripts/remote-fix-permissions.sh
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  validate-docker-security.sh
Labels: documentation, tests, build, kotlin, groovy

updates
  .gitignore
  CATEGORY-CONTROLLER-MIGRATION.md
  CONTROLLER-NORMALIZATION-PLAN.md
  DESCRIPTION-CONTROLLER-MIGRATION.md
  PAYMENT_CONTROLLER_MIGRATION.md
  UNIFIED-SECURITY-DEPLOYMENT.md
  deploy-gcp.sh
  deploy-proxmox.sh
  docker-compose-gcp.yml
  docker-compose-postgresql.yml
  docker-compose-secure.yml
  env.postgresql
  nginx-gcp.conf
  run-bootrun.sh
  run.sh
  scripts/diagnose-gcp-deployment.sh
  scripts/fix-docker-permissions.sh
  scripts/remote-fix-permissions.sh
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
  validate-docker-security.sh
Labels: documentation, tests, build, kotlin, groovy

updates
  deploy-proxmox.sh
  env.influx
  env.prod
  scripts/debug-influx-auth.sh
  scripts/transactions-inserted.json
  scripts/troubleshoot-influxdb.sh
  scripts/troubleshoot-postgresql.sh
  scripts/troubleshoot-springboot.sh
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/resources/application-prod.yml
Labels: kotlin, config

updates
  deploy-proxmox.sh
  env.influx
  env.prod
  scripts/debug-influx-auth.sh
  scripts/transactions-inserted.json
  scripts/troubleshoot-influxdb.sh
  scripts/troubleshoot-postgresql.sh
  scripts/troubleshoot-springboot.sh
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/resources/application-prod.yml
Labels: kotlin, config

wip
  deploy-gcp.sh
  docker-compose-gcp.yml
  env.gcp
  env.influx.gcp
  env.prod
  scripts/troubleshoot-influxdb-gcp.sh
Labels: build

wip
  deploy-gcp.sh
  docker-compose-gcp.yml
  env.gcp
  env.influx.gcp
  env.prod
  scripts/troubleshoot-influxdb-gcp.sh
Labels: build

wip
  DESCRIPTION-CONTROLLER-MIGRATION.md
  Dockerfile-nginx
  PARAMETER-CONTROLLER-MIGRATION.md
  PAYMENT_CONTROLLER_MIGRATION.md
  docker-compose-nginx.yml
  docker-compose-varnish.yml
Labels: documentation, build

wip
  DESCRIPTION-CONTROLLER-MIGRATION.md
  Dockerfile-nginx
  PARAMETER-CONTROLLER-MIGRATION.md
  PAYMENT_CONTROLLER_MIGRATION.md
  docker-compose-nginx.yml
  docker-compose-varnish.yml
Labels: documentation, build

swagger updates and script updates
  Dockerfile
  SECURITY_MIGRATION_GUIDE.md
  build.gradle
  deploy-gcp.sh
  deploy-proxmox.sh
  env.flyway
  env.flyway-repair
  env.gcp
  env.prod
  gradle.properties
  nginx-gcp.conf
  run-bootrun.sh
  run-podman.sh
  run.sh
  scripts/curl-jq-sum.sh
  scripts/troubleshoot-springboot.sh
  src/main/kotlin/finance/configurations/OpenApiConfig.kt
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
  src/main/resources/templates/index.html
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
Labels: documentation, tests, build, kotlin, groovy, config

swagger updates and script updates
  Dockerfile
  SECURITY_MIGRATION_GUIDE.md
  build.gradle
  deploy-gcp.sh
  deploy-proxmox.sh
  env.flyway
  env.flyway-repair
  env.gcp
  env.prod
  gradle.properties
  nginx-gcp.conf
  run-bootrun.sh
  run-podman.sh
  run.sh
  scripts/curl-jq-sum.sh
  scripts/troubleshoot-springboot.sh
  src/main/kotlin/finance/configurations/OpenApiConfig.kt
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
  src/main/resources/templates/index.html
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
Labels: documentation, tests, build, kotlin, groovy, config

controller cleanup
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/repositories/ValidationAmountRepository.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/ValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedValidationAmountControllerSpec.groovy
  src/test/functional/resources/db/migration/func/V04__create-medical-provider.sql
  src/test/functional/resources/db/migration/func/V05__create-family-member.sql
  src/test/functional/resources/db/migration/func/V07__decouple-medical-expense-payments.sql
  src/test/integration/resources/db/migration/int/V04__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V05__create-family-member.sql
  src/test/integration/resources/db/migration/int/V07__decouple-medical-expense-payments.sql
Labels: documentation, tests, kotlin, groovy

controller cleanup
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/repositories/ValidationAmountRepository.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/ValidationAmountService.kt
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedValidationAmountControllerSpec.groovy
  src/test/functional/resources/db/migration/func/V04__create-medical-provider.sql
  src/test/functional/resources/db/migration/func/V05__create-family-member.sql
  src/test/functional/resources/db/migration/func/V07__decouple-medical-expense-payments.sql
  src/test/integration/resources/db/migration/int/V04__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V05__create-family-member.sql
  src/test/integration/resources/db/migration/int/V07__decouple-medical-expense-payments.sql
Labels: documentation, tests, kotlin, groovy

controller conversion
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerIsolatedSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

controller conversion
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/IFamilyMemberService.kt
  src/main/kotlin/finance/services/IPendingTransactionService.kt
  src/main/kotlin/finance/services/ITransferService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerIsolatedSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

updates
  .gitignore
  build.gradle
  test.gradle
Labels: build

updates
  .gitignore
  build.gradle
  test.gradle
Labels: build

test coverage
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceFunctionalitySpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceSpec.groovy
  src/test/unit/groovy/finance/services/UserServiceSpec.groovy
Labels: tests, kotlin, groovy

test coverage
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceFunctionalitySpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceSpec.groovy
  src/test/unit/groovy/finance/services/UserServiceSpec.groovy
Labels: tests, kotlin, groovy

testing tests and fixing tests
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/PaymentGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceChangeOwnerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceImageSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

testing tests and fixing tests
  CONTROLLER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/services/IPaymentService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/ParameterControllerBaselineBehaviorSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/functional/groovy/finance/helpers/TestFixtures.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/resolvers/PaymentGraphQLResolverSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceChangeOwnerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceImageSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

added more unit tests
  CATEGORY-CONTROLLER-MIGRATION.md
  CONTROLLER-NORMALIZATION-PLAN.md
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/unit/groovy/finance/controllers/AccountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerStandardSpec.groovy
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceCoverageSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceEdgeSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceResilienceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceQueryAndStateSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceAdditionalSpec.groovy
Labels: documentation, tests, groovy

added more unit tests
  CATEGORY-CONTROLLER-MIGRATION.md
  CONTROLLER-NORMALIZATION-PLAN.md
  FUNCTIONAL_TEST_MIGRATION_GUIDE.md
  src/test/unit/groovy/finance/controllers/AccountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerStandardSpec.groovy
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerMoreSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceCoverageSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceEdgeSpec.groovy
  src/test/unit/groovy/finance/services/AccountServiceResilienceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceQueryAndStateSpec.groovy
  src/test/unit/groovy/finance/services/TransferServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceAdditionalSpec.groovy
Labels: documentation, tests, groovy

updates
  CONTROLLER-NORMALIZATION-PLAN.md
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

updates
  CONTROLLER-NORMALIZATION-PLAN.md
  SERVICE-LAYER-NORMALIZATION-PLAN.md
Labels: documentation

feat: migrate GraphQL from resolvers to controllers for Spring Boot 4.0
  GRAPHQL_MIGRATION_STATUS.md
  SECURITY_MIGRATION_GUIDE.md
  SPRINGBOOT4-UPGRADE.md
  gradle.properties
  src/main/kotlin/finance/configurations/GraphQLWiringConfig.kt
  src/main/kotlin/finance/controllers/AccountGraphQLController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/PaymentGraphQLController.kt
  src/main/kotlin/finance/controllers/TransferGraphQLController.kt
  src/main/kotlin/finance/resolvers/AccountGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/PaymentGraphQLResolver.kt
  src/main/kotlin/finance/resolvers/TransferGraphQLResolver.kt
  src/main/resources/application-int.yml
  src/test/functional/groovy/finance/controllers/LoginControllerIsolatedSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferGraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/ActualControllerInjectionSpec.groovy
  src/test/integration/groovy/finance/resolvers/ControllerAnnotationTestSpec.groovy
  src/test/integration/groovy/finance/resolvers/DependencyInjectionVerificationSpec.groovy
  src/test/integration/groovy/finance/resolvers/GraphQLAnnotationTestSpec.groovy
  src/test/integration/groovy/finance/resolvers/PaymentGraphQLResolverMigratedIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/RestControllerComparisonSpec.groovy
  src/test/integration/groovy/finance/resolvers/StackTraceAnalysisSpec.groovy
  src/test/integration/groovy/finance/resolvers/TransferGraphQLControllerIntegrationSpec.groovy
  src/test/integration/groovy/finance/resolvers/TransferGraphQLControllerOnlySpec.groovy
  src/test/integration/resources/application-int.yml
  src/test/unit/groovy/finance/graphql/TransferGraphQLSliceSpec.groovy
  src/test/unit/groovy/finance/resolvers/TransferGraphQLResolverSpec.groovy
  test.gradle
Labels: documentation, tests, kotlin, groovy, config

login fix
  gradle.properties
  src/main/kotlin/finance/domain/LoginRequest.kt
Labels: kotlin

login fix
  gradle.properties
  src/main/kotlin/finance/domain/LoginRequest.kt
Labels: kotlin

use the new standardized services
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedDescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

use the new standardized services
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/GraphQLQueryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/functional/groovy/finance/controllers/DescriptionControllerIsolatedSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedDescriptionControllerSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMergeAndDeleteSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedDescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix payments guid
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
Labels: tests, kotlin, groovy

fix payments guid
  src/main/kotlin/finance/services/PaymentService.kt
  src/test/unit/groovy/finance/services/PaymentServiceMoreSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
Labels: tests, kotlin, groovy

converted transaction service
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceChangeOwnerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceImageSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceQueryAndStateSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

converted transaction service
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerMoreSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceChangeOwnerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceImageSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceQueryAndStateSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

converted receipt image service
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/services/ReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

converted receipt image service
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/services/ReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedReceiptImageService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/controllers/ReceiptImageControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedTransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service update
  CATEGORY-SERVICE-MIGRATION.md
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/main/kotlin/finance/services/StandardizedMedicalExpenseService.kt
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceAdditionalSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

service updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: documentation, kotlin

service updates
  SERVICE-LAYER-NORMALIZATION-PLAN.md
  src/main/kotlin/finance/domain/MergeDescriptionsRequest.kt
  src/main/kotlin/finance/services/IValidationAmountService.kt
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/main/kotlin/finance/services/StandardizedCategoryService.kt
  src/main/kotlin/finance/services/StandardizedDescriptionService.kt
  src/main/kotlin/finance/services/StandardizedParameterService.kt
  src/main/kotlin/finance/services/StandardizedPendingTransactionService.kt
  src/main/kotlin/finance/services/StandardizedTransactionService.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: documentation, kotlin

fixes the functionality of FamilyMemberService
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/services/StandardizedFamilyMemberServiceSpec.groovy
Labels: tests, kotlin, groovy
