Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

wip
  src/test/integration/groovy/finance/repositories/FamilyMemberRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TokenBlacklistRepositoryIntSpec.groovy
  src/test/unit/groovy/finance/repositories/AccountRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/CategoryRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/DescriptionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/FamilyMemberRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/MedicalExpenseRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ParameterRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PaymentRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/PendingTransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ReceiptImageRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TokenBlacklistRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransactionRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/TransferRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/UserRepositorySpec.groovy
  src/test/unit/groovy/finance/repositories/ValidationAmountRepositorySpec.groovy
  src/test/unit/kotlin/finance/controllers/dto/DtoDefaultParameterTest.kt
  test.gradle
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/GraphQLExceptionHandlerSpec.groovy
  src/test/unit/groovy/finance/domain/AccountSpec.groovy
  src/test/unit/groovy/finance/domain/MedicalExpenseSpec.groovy
  src/test/unit/groovy/finance/domain/ReceiptImageSpec.groovy
  src/test/unit/groovy/finance/domain/TransactionSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
Labels: tests, groovy

wip
  build.gradle
  src/test/functional/groovy/finance/controllers/GraphQLControllerFunctionalSpec.groovy
Labels: tests, build, groovy

version updates
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/test/unit/kotlin/finance/controllers/dto/DtoDefaultParameterTest.kt
Labels: tests, build

wip
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
Labels: kotlin

wip
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
Labels: tests, groovy

wip
  test-coverage.sh
Labels: none

wip
  deploy-podman.sh
  run-bootrun.sh
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/domain/LoginRequest.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/services/BaseService.kt
Labels: kotlin

wip
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/unit/groovy/finance/domain/LoginRequestSpec.groovy
Labels: tests, groovy

wip
  build.gradle
Labels: build

cleanup code
  CLAUDE.md
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/resources/application-prodora.yml
  src/main/resources/db/migration/prodora/V01__create-ddl-objects-prodora.sql
  src/main/resources/db/migration/prodora/V02__extend-account-types-comprehensive.sql
  src/main/resources/db/migration/prodora/V03__create-medical-provider.sql
  src/main/resources/db/migration/prodora/V07__create-family-member.sql
  src/main/resources/db/migration/prodora/V08__create-medical-expense.sql
  src/main/resources/db/migration/prodora/V09__decouple-medical-expense-payments.sql
  src/main/resources/db/migration/prodora/V10__add-transaction-account-lookup-index.sql
  src/main/resources/db/migration/prodora/V11__create-token-blacklist.sql
  src/main/resources/logback-prodora.groovy
  src/test/oracle/groovy/finance/DatabaseInsertSpec.groovy
  src/test/oracle/groovy/finance/OracleApplicationContextSpec.groovy
  src/test/oracle/groovy/finance/helpers/AccountBuilder.groovy
  src/test/oracle/groovy/finance/helpers/TransactionBuilder.groovy
  src/test/oracle/resources/application-ora.yml
  src/test/oracle/resources/db/migration/ora/V05__create-family-member.sql
  src/test/oracle/resources/db/migration/ora/V06__create-medical-expense.sql
  src/test/oracle/resources/db/migration/ora/V07__decouple-medical-expense-payments.sql
  src/test/oracle/resources/db/migration/oracle/V01__create-ddl-objects-ora.sql
  src/test/oracle/resources/db/migration/oracle/V02__extend-account-types-comprehensive.sql
  src/test/oracle/resources/db/migration/oracle/V03__create-medical-provider.sql
  src/test/oracle/resources/db/migration/oracle/V04__add-transaction-account-lookup-index.sql
  test.gradle
Labels: documentation, tests, build, kotlin, groovy, database, config

wip
  src/test/performance/groovy/finance/controller/TransactionControllerPerfSpec.groovy
Labels: tests, groovy

performance test improvements
  src/test/performance/groovy/finance/config/TestSecurityConfig.groovy
  src/test/performance/groovy/finance/controller/TransactionControllerPerfSpec.groovy
  src/test/performance/groovy/finance/helpers/TransactionBuilder.groovy
  src/test/performance/resources/application-perf.yml
  src/test/performance/resources/db/migration/perf/V01__consolidated-schema-perf.sql
  src/test/performance/resources/db/migration/perf/V02__add-token-blacklist-perf.sql
Labels: tests, groovy

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/test/performance/groovy/finance/config/TestSecurityConfig.groovy
  src/test/performance/resources/application-perf.yml
Labels: tests, kotlin, groovy

wip
  src/test/performance/groovy/finance/controller/AccountControllerPerfSpec.groovy
  src/test/performance/groovy/finance/controller/ReferenceDataPerfSpec.groovy
  src/test/performance/groovy/finance/controller/TransactionControllerPerfSpec.groovy
  test.gradle
Labels: tests, groovy

wip
  src/main/resources/application-prod.yml
Labels: config

wip
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
Labels: kotlin

upgrade-java-21
  Dockerfile
  Dockerfile-nginx
  build.gradle
  gradle.properties
  test.gradle
Labels: build

updates
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build

updates
  src/main/kotlin/finance/controllers/CategoryController.kt
Labels: kotlin

wip
  gradle.properties
Labels: none

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build

wip
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/DescriptionWithCount.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IDescriptionService.kt
Labels: kotlin

wip
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: database

t_account update
  src/main/kotlin/finance/domain/Account.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  readme.md
Labels: documentation, build

wip
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/AccountService.kt
Labels: kotlin

updates
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/IParameterService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/PaymentService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/repositories/PendingTransactionRepository.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/TransferService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/domain/Totals.kt
  src/main/kotlin/finance/services/ITransactionService.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
Labels: kotlin

wip
  gradle/wrapper/gradle-wrapper.properties
Labels: build

wip
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/IAccountService.kt
  src/main/kotlin/finance/services/TransactionService.kt
Labels: kotlin
