Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

Create codeql.yml
  .github/workflows/codeql.yml
Labels: ci/cd

Create codeql.yml
  .github/workflows/codeql.yml
Labels: ci/cd

version updates
  gradle.properties
Labels: none

version updates
  gradle.properties
Labels: none

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/label.yml
Labels: ci/cd

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/label.yml
Labels: ci/cd

enable csrf
  CLAUDE.md
  src/main/kotlin/finance/configurations/SpaCsrfTokenRequestHandler.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/CsrfController.kt
  src/test/integration/groovy/finance/security/CsrfControllerIntSpec.groovy
Labels: documentation, tests, kotlin, groovy

enable csrf
  CLAUDE.md
  src/main/kotlin/finance/configurations/SpaCsrfTokenRequestHandler.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/CsrfController.kt
  src/test/integration/groovy/finance/security/CsrfControllerIntSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  src/test/integration/groovy/finance/security/CsrfControllerIntSpec.groovy
Labels: tests, groovy

wip
  src/test/integration/groovy/finance/security/CsrfControllerIntSpec.groovy
Labels: tests, groovy

version updates
  build.gradle
  gradle.properties
Labels: build

version updates
  build.gradle
  gradle.properties
Labels: build

version updates
  build.gradle
  gradle.properties
Labels: build

version updates
  build.gradle
  gradle.properties
Labels: build

version updates - required some code updates
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/MedicalProvider.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/services/CalculationService.kt
Labels: build, kotlin

mortgage-calculator.py added
  mortgage-calculator.py
Labels: none

updates
  mortgage-calculator.py
Labels: none

wip
  gradle.properties
Labels: none

secrets manager
  .sops.yaml
  env.secrets.enc
Labels: none

wip
  .gitignore
Labels: none

cert validation
  cert-validation-postgresql-server.sh
Labels: none

updates
  cert-check-postgres-expiry.sh
Labels: none

wip
  build.gradle
  gradle.properties
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/User.kt
Labels: build, kotlin

wip
  docker-compose-influxdb.yml
Labels: build

security updates
  SECURITY_AUDIT.md
  deploy-proxmox.sh
  run.sh
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: documentation, kotlin

updates
  mortgage-calculator.py
Labels: none

wip
  SECURITY_AUDIT.md
Labels: documentation

security cleanup
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/CsrfController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/controllers/dto/TransactionAccountChangeInputDto.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: tests, kotlin, groovy

multi tenant updates
  MULTI-TENANCY-PLAN.md
  SECURITY_AUDIT.md
  build.gradle
  src/main/resources/db/migration/prod/V13__multi-tenant-owner-stage1.sql
Labels: documentation, build, database

adding owner logic
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
Labels: kotlin

adding owner logic
  MULTI-TENANCY-PLAN.md
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
  src/main/resources/db/migration/prod/V14__fix-owner-to-match-jwt-username.sql
Labels: documentation, kotlin, database

adding owner logic - phase 3 and phase4
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/main/kotlin/finance/repositories/CategoryRepository.kt
  src/main/kotlin/finance/repositories/DescriptionRepository.kt
  src/main/kotlin/finance/repositories/MedicalExpenseRepository.kt
  src/main/kotlin/finance/repositories/ParameterRepository.kt
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/repositories/PendingTransactionRepository.kt
  src/main/kotlin/finance/repositories/ReceiptImageRepository.kt
  src/main/kotlin/finance/repositories/TransactionRepository.kt
  src/main/kotlin/finance/repositories/TransferRepository.kt
  src/main/kotlin/finance/repositories/ValidationAmountRepository.kt
  src/main/kotlin/finance/utils/TenantContext.kt
  src/main/resources/graphql/schema.graphqls
Labels: kotlin, graphql

multi tenant updates
  src/main/kotlin/finance/utils/TenantContext.kt
Labels: kotlin

multi tenant updates
  src/main/kotlin/finance/configurations/JacksonConfig.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/FamilyMember.kt
  src/main/kotlin/finance/domain/MedicalExpense.kt
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
  src/main/kotlin/finance/repositories/FamilyMemberRepository.kt
  src/main/kotlin/finance/repositories/PendingTransactionRepository.kt
  src/main/kotlin/finance/repositories/ReceiptImageRepository.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/CalculationService.kt
  src/main/kotlin/finance/services/CategoryService.kt
  src/main/kotlin/finance/services/DescriptionService.kt
  src/main/kotlin/finance/services/FamilyMemberService.kt
  src/main/kotlin/finance/services/MedicalExpenseService.kt
  src/main/kotlin/finance/services/ParameterService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
  src/main/kotlin/finance/services/ReceiptImageService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/main/kotlin/finance/services/ValidationAmountService.kt
  src/main/resources/application.yml
  src/test/integration/groovy/finance/services/FamilyMemberServiceIntSpec.groovy
Labels: tests, kotlin, groovy, config

feat: multi-tenant phase 2 - compound FKs, owner enforcement, and service fixes
  env.flyway-repair
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/services/ReceiptImageService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/kotlin/finance/services/TransferService.kt
  src/main/kotlin/finance/utils/IpAddressValidator.kt
  src/main/resources/db/migration/prod/V15__multi-tenant-owner-stage2.sql
  src/main/resources/db/migration/prod/V16__compound-fk-validation-receipt.sql
  src/main/resources/db/migration/prod/V17__multi-tenant-family-member-fix.sql
  src/main/resources/db/migration/prod/V18__transaction-categories-owner-trigger.sql
Labels: kotlin, database

updated tests
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/domain/TransferSpec.groovy
  src/test/unit/groovy/finance/helpers/AccountBuilder.groovy
  src/test/unit/groovy/finance/helpers/CategoryBuilder.groovy
  src/test/unit/groovy/finance/helpers/DescriptionBuilder.groovy
  src/test/unit/groovy/finance/helpers/MedicalExpenseBuilder.groovy
  src/test/unit/groovy/finance/helpers/ParameterBuilder.groovy
  src/test/unit/groovy/finance/helpers/PaymentBuilder.groovy
  src/test/unit/groovy/finance/helpers/ReceiptImageBuilder.groovy
  src/test/unit/groovy/finance/helpers/TransactionBuilder.groovy
  src/test/unit/groovy/finance/helpers/TransferBuilder.groovy
  src/test/unit/groovy/finance/helpers/ValidationAmountBuilder.groovy
  src/test/unit/groovy/finance/services/AccountServiceSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/CategoryServiceSpec.groovy
  src/test/unit/groovy/finance/services/DescriptionServiceSpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
  src/test/unit/groovy/finance/services/ParameterServiceSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/PendingTransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ReceiptImageServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
  src/test/unit/groovy/finance/services/ValidationAmountServiceSpec.groovy
Labels: tests, groovy

updates
  src/test/functional/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartCategoryBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartDescriptionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartParameterBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartReceiptImageBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartTransferBuilder.groovy
  src/test/functional/groovy/finance/helpers/SmartValidationAmountBuilder.groovy
  src/test/functional/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/BaseIntegrationSpec.groovy
  src/test/integration/groovy/finance/helpers/SmartAccountBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartCategoryBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartDescriptionBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartMedicalExpenseBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartParameterBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartPaymentBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartReceiptImageBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartTransactionBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartTransferBuilder.groovy
  src/test/integration/groovy/finance/helpers/SmartValidationAmountBuilder.groovy
  src/test/integration/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/security/TenantIsolationIntSpec.groovy
  src/test/integration/groovy/finance/services/AccountServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/CalculationServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/FamilyMemberServiceIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
  src/test/unit/groovy/finance/controllers/AccountControllerSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/repositories/PendingTransactionRepository.kt
  src/main/kotlin/finance/services/PendingTransactionService.kt
Labels: kotlin

wip
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: build

wip
  gradlew.bat
Labels: build
