Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

wip
  gradle.properties
Labels: none

updates to fix the tests
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/CategoryRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/DescriptionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ParameterRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/PaymentRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/PendingTransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryDateRangeIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransferRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ValidationAmountRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/security/TenantIsolationIntSpec.groovy
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/DescriptionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/FamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/domain/CategorySpec.groovy
  src/test/unit/groovy/finance/services/FamilyMemberServiceSpec.groovy
Labels: tests, groovy

wip
  src/test/unit/groovy/finance/domain/DescriptionSpec.groovy
  src/test/unit/groovy/finance/domain/UserSpec.groovy
  src/test/unit/groovy/finance/services/CalculationServiceSpec.groovy
  src/test/unit/groovy/finance/services/MedicalExpenseServiceSpec.groovy
Labels: tests, groovy

updates
  src/main/kotlin/finance/domain/Transfer.kt
Labels: kotlin

wip
  INTEGRATION_TEST_FIX_PROGRESS.md
  TROUBLESHOOTING_INTEGRATION_TESTS.md
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
  src/test/integration/resources/application-int.yml
  src/test/unit/groovy/finance/domain/TransferSpec.groovy
Labels: documentation, tests, groovy

integration test fixes
  INTEGRATION_TEST_FIX_PROGRESS.md
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/configurations/DatabaseResilienceIntSpec.groovy
  src/test/integration/groovy/finance/graphql/CategoryMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/CategoryQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/DescriptionMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/DescriptionQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/GraphQLIdSerializationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ParameterQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentEdgeCasesIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentTransactionVerificationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransferMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountQueryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransferRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityEndpointsIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntSpec.groovy
  src/test/integration/groovy/finance/security/SecurityUserRepoServiceIntSpec.groovy
  src/test/integration/groovy/finance/security/TenantIsolationIntSpec.groovy
  src/test/integration/groovy/finance/services/FamilyMemberServiceIntSpec.groovy
Labels: documentation, tests, kotlin, groovy

wip
  src/main/resources/db/migration/prod/V19__consolidated-schema.sql
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
Labels: tests, groovy, database

wip
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/functional/resources/db/migration/func/V01__consolidated-schema-func.sql
  src/test/functional/resources/db/migration/func/V01__create-ddl-objects-func.sql
  src/test/functional/resources/db/migration/func/V02__add-performance-indexes.sql
  src/test/functional/resources/db/migration/func/V04__drop-payment-constraint.sql
  src/test/functional/resources/db/migration/func/V05__remove-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V06__drop-fk-payment-account-name-owner.sql
  src/test/functional/resources/db/migration/func/V07__extend-account-types-comprehensive.sql
  src/test/functional/resources/db/migration/func/V08__create-medical-provider.sql
  src/test/functional/resources/db/migration/func/V09__create-family-member.sql
  src/test/functional/resources/db/migration/func/V10__create-medical-expense.sql
  src/test/functional/resources/db/migration/func/V11__decouple-medical-expense-payments.sql
  src/test/functional/resources/db/migration/func/V12__add-transaction-account-lookup-index.sql
  src/test/integration/resources/db/migration/int/V01__consolidated-schema-int.sql
  src/test/integration/resources/db/migration/int/V01__create-ddl-objects-int.sql
  src/test/integration/resources/db/migration/int/V02__add-performance-indexes.sql
  src/test/integration/resources/db/migration/int/V04__drop-payment-constraint.sql
  src/test/integration/resources/db/migration/int/V05__remove-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V06__drop-fk-payment-account-name-owner.sql
  src/test/integration/resources/db/migration/int/V07__extend-account-types-comprehensive.sql
  src/test/integration/resources/db/migration/int/V08__create-medical-provider.sql
  src/test/integration/resources/db/migration/int/V09__create-family-member.sql
  src/test/integration/resources/db/migration/int/V10__create-medical-expense.sql
  src/test/integration/resources/db/migration/int/V11__decouple-medical-expense-payments.sql
  src/test/integration/resources/db/migration/int/V12__add-transaction-account-lookup-index.sql
Labels: tests, groovy

updates
  src/main/kotlin/finance/domain/User.kt
  src/test/functional/groovy/finance/controllers/AccountValidationSyncFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/GraphQLFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/LoginControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/UserControllerFunctionalSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/resources/db/migration/prod/V20__extend-transaction-account-type.sql
  src/test/functional/resources/db/migration/func/V01__consolidated-schema-func.sql
  src/test/integration/groovy/finance/BaseRestTemplateIntegrationSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/ValidationAmountQueryIntSpec.groovy
  src/test/integration/groovy/finance/helpers/TestDataManager.groovy
  src/test/integration/groovy/finance/repositories/MedicalExpenseRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ParameterRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/ReceiptImageRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryDateRangeIntSpec.groovy
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/repositories/UserRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/security/TenantIsolationIntSpec.groovy
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
  src/test/integration/resources/application-int.yml
  src/test/integration/resources/db/migration/int/V01__consolidated-schema-int.sql
  test.gradle
Labels: tests, groovy, database

wip
  gradle.properties
  src/main/resources/db/migration/prod/V19__consolidated-schema.sql
Labels: database

wip
  run-flyway-repair.sh
Labels: none

wip
  build.gradle
  gradle.properties
Labels: build

update
  run-bootrun.sh
Labels: none

java 25 updates
  Dockerfile
  build.gradle
Labels: build

influx 3.x upgraded
  deploy-proxmox.sh
  docker-compose-gcp.yml
  docker-compose-influxdb.yml
  env.influx
  env.secrets.enc
  run-bootrun.sh
  run.sh
  src/main/resources/application-stage.yml
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
  src/test/oracle/resources/application-ora.yml
  src/test/performance/resources/application-perf.yml
  validate-docker-security.sh
Labels: tests, build, config

wip
  docker-compose-influxdb.yml
Labels: build

wip
  deploy-podman.sh
Labels: none

wip
  deploy-podman.sh
  docker-compose-prod.yml
  env.prod
Labels: build

wip
  deploy-docker.sh
  run-docker-backup.sh
  run-podman.sh
Labels: none

wip
  deploy-podman.sh
Labels: none

wip
  deploy-podman.sh
Labels: none

upgraded libraries
  POSTGRESQL_IDLE_TRANSACTION_FIX.md
  build.gradle
  docker-compose-influxdb.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  run-bootrun.sh
Labels: documentation, build

wip
  deploy-podman.sh
  src/main/resources/application-prod.yml
Labels: config

wip
  deploy-podman.sh
Labels: none

version updates
  Dockerfile
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  run-bootrun.sh
Labels: build

wip
  env.secrets.enc
  run.sh
  src/main/resources/application-prodora.yml
Labels: config

env.secrets removed from project and replaced with gopass
  .gitignore
  .sops.yaml
  Dockerfile
  deploy-docker.sh
  deploy-gcp.sh
  deploy-podman.sh
  deploy-raspi.sh
  env.secrets.enc
  run-bootrun.sh
  run-flyway-repair.sh
  run-flyway.sh
  run.sh
  scripts/diagnose-gcp-deployment.sh
  scripts/troubleshoot-influxdb-gcp.sh
  scripts/troubleshoot-influxdb.sh
  scripts/troubleshoot-postgresql.sh
  scripts/troubleshoot-springboot.sh
Labels: build

wip
  env.flyway
  src/main/kotlin/finance/domain/Account.kt
  src/main/resources/db/migration/prod/V21__add-credit-card-billing-fields.sql
Labels: kotlin, database

wip
  src/main/resources/db/migration/prod/V21__add-credit-card-billing-fields.sql
Labels: database

wip
  env.flyway-repair
Labels: none

version updates
  build.gradle
  env.flyway-repair
  gradle.properties
  run-bootrun.sh
  run-flyway-repair.sh
Labels: build

wip
  .claude/skills/.gitkeep
  .claude/skills/secure-review/SKILL.md
  .gitignore
Labels: documentation

wip
  .claude/skills/kotlin-architect/SKILL.md
  .claude/skills/security-architect/SKILL.md
Labels: documentation

security fixes and test fixes
  env.prod
  env.stage
  src/main/kotlin/finance/configurations/HttpErrorLoggingFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/BaseController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/resources/application-prod.yml
  src/main/resources/application-prodora.yml
  src/main/resources/application-stage.yml
  src/main/resources/application.yml
  src/test/functional/resources/db/migration/func/V01__consolidated-schema-func.sql
  src/test/integration/groovy/finance/services/ExternalIntegrationsIntSpec.groovy
  src/test/integration/resources/db/migration/int/V01__consolidated-schema-int.sql
  src/test/unit/groovy/finance/controllers/BaseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/UserControllerSpec.groovy
  test.gradle
Labels: tests, kotlin, groovy, config

wip
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

design updates
  .claude/skills/kotlin-architect/SKILL.md
  .claude/skills/security-architect/SKILL.md
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/integration/groovy/finance/graphql/GraphQLEndpointIntSpec.groovy
  src/test/integration/groovy/finance/graphql/PaymentQueryIntSpec.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

design next updates
  CODE_REVIEW_FINDINGS.md
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/dto/ParameterInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/kotlin/finance/domain/AccountValidationException.kt
  src/main/kotlin/finance/domain/DomainException.kt
  src/main/kotlin/finance/domain/InvalidReoccurringTypeException.kt
  src/main/kotlin/finance/domain/InvalidTransactionStateException.kt
  src/main/kotlin/finance/domain/ReceiptImageException.kt
  src/main/kotlin/finance/domain/TransactionNotFoundException.kt
  src/main/kotlin/finance/domain/TransactionValidationException.kt
  src/main/kotlin/finance/exceptions/DuplicateMedicalExpenseException.kt
  src/main/kotlin/finance/services/CrudBaseService.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/unit/groovy/finance/controllers/CategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/FamilyMemberControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/MedicalExpenseControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/PaymentControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransactionControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
  src/test/unit/groovy/finance/services/TransactionServiceSpec.groovy
Labels: documentation, tests, kotlin, groovy

security updates
  src/main/kotlin/finance/configurations/CustomProperties.kt
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/OpenApiConfig.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/PerformanceMetricsController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/UserController.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/services/TokenBlacklistService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/resources/application-prod.yml
  src/main/resources/db/migration/prod/V22__drop-user-password-unique-constraint.sql
  src/test/unit/groovy/finance/configurations/CustomPropertiesSpec.groovy
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/OpenApiConfigSpec.groovy
  src/test/unit/groovy/finance/configurations/WebSecurityConfigSpec.groovy
  src/test/unit/groovy/finance/controllers/LoginControllerSpec.groovy
Labels: tests, kotlin, groovy, database, config

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
