Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

adding graphql capabilities
  POSTGRESQL_SECURITY_RECOMMENDATIONS.md
  POSTGRESQL_SSL_CERTIFICATE_MANAGEMENT.md
  SSL_SCRIPTS_README.md
  check-postgres-ssl-expiry.sh
  env.prod
  renew-postgres-ssl.sh
  src/main/kotlin/finance/controllers/dto/TransactionInputDto.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/kotlin/finance/controllers/graphql/GraphQLQueryController.kt
  src/main/resources/application-prod.yml
  src/main/resources/graphql/schema.graphqls
  src/test/integration/groovy/finance/graphql/AccountMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/AccountQueryIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransactionMutationIntSpec.groovy
  src/test/integration/groovy/finance/graphql/TransactionQueryIntSpec.groovy
  src/test/unit/groovy/finance/controllers/dto/TransactionInputDtoSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLMutationControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/graphql/GraphQLQueryControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy, config, graphql

wip
  src/main/kotlin/finance/services/StandardizedTransferService.kt
Labels: kotlin

wip
  src/main/kotlin/finance/services/StandardizedTransferService.kt
Labels: kotlin

updates
  build.gradle
  env.prod
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

updates
  build.gradle
  env.prod
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

mutation updates transfer/payment
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
Labels: kotlin, graphql

mutation updates transfer/payment
  src/main/kotlin/finance/controllers/graphql/GraphQLMutationController.kt
  src/main/resources/graphql/schema.graphqls
Labels: kotlin, graphql

account delete updates
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
Labels: tests, kotlin, groovy

account delete updates
  src/main/kotlin/finance/services/StandardizedAccountService.kt
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
  src/test/unit/groovy/finance/services/BaseServiceSpec.groovy
  src/test/unit/groovy/finance/services/StandardizedAccountServiceSpec.groovy
Labels: tests, kotlin, groovy

refactor: Phase 1 - Remove unused legacy endpoints
  CLAUDE.md
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerFunctionalSpec.groovy
Labels: documentation, tests, kotlin, groovy

refactor: Phase 1 - Remove unused legacy endpoints
  CLAUDE.md
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/MedicalExpenseController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/test/functional/groovy/finance/controllers/CategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PaymentControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerFunctionalSpec.groovy
Labels: documentation, tests, kotlin, groovy

fix: Remove legacy tests for deleted Payment controller methods
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
Labels: tests, groovy

fix: Remove legacy tests for deleted Payment controller methods
  src/test/unit/groovy/finance/controllers/StandardizedPaymentControllerSpec.groovy
Labels: tests, groovy

test: remove legacy endpoint tests from StandardizedTransferControllerSpec
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
Labels: tests, groovy

test: remove legacy endpoint tests from StandardizedTransferControllerSpec
  src/test/unit/groovy/finance/controllers/StandardizedTransferControllerSpec.groovy
Labels: tests, groovy

test: remove legacy endpoint test for deleted /insert endpoint
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerFunctionalSpec.groovy
Labels: tests, groovy

test: remove legacy endpoint test for deleted /insert endpoint
  src/test/functional/groovy/finance/controllers/StandardizedMedicalExpenseControllerFunctionalSpec.groovy
Labels: tests, groovy

tests fixed
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
Labels: tests, groovy

tests fixed
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerExtendedFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/MedicalExpenseControllerFunctionalSpec.groovy
Labels: tests, groovy

refactor: Remove unused PendingTransaction legacy endpoints
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
Labels: tests, kotlin, groovy

refactor: Remove unused PendingTransaction legacy endpoints
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/test/functional/groovy/finance/controllers/BaseControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedPendingTransactionControllerSpec.groovy
Labels: tests, kotlin, groovy

fix: Update ReceiptImage functional tests to call legacy /insert endpoint directly
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
Labels: tests, groovy

fix: Update ReceiptImage functional tests to call legacy /insert endpoint directly
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
Labels: tests, groovy

docs: Update migration plan with Phase 1 completion status
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
Labels: documentation

docs: Update migration plan with Phase 1 completion status
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
Labels: documentation

account modern controller updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

account modern controller updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/AccountController.kt
  src/test/functional/groovy/finance/controllers/AccountControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/SecurityAuditFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedAccountControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedAccountControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/test/functional/groovy/finance/controllers/StandardizedTransactionControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/TransactionControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedTransactionControllerSpec.groovy
Labels: documentation, tests, kotlin, groovy

validationAmount mondernize
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: kotlin

validationAmount mondernize
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/services/StandardizedValidationAmountService.kt
Labels: kotlin

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/CategoryController.kt
Labels: documentation, kotlin

updates
  LEGACY_TO_MODERN_MIGRATION_PLAN.md
  src/main/kotlin/finance/controllers/CategoryController.kt
Labels: documentation, kotlin

updates
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedReceiptImageControllerSpec.groovy
Labels: tests, kotlin, groovy

updates
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/test/functional/groovy/finance/controllers/ReceiptImageControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedCategoryControllerFunctionalSpec.groovy
  src/test/functional/groovy/finance/controllers/StandardizedParameterControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedCategoryControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedReceiptImageControllerSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
Labels: kotlin

wip
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
Labels: kotlin

wip
  gradle.properties
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  test.gradle
Labels: tests, kotlin, groovy

wip
  gradle.properties
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/services/StandardizedTransferService.kt
  src/test/functional/groovy/finance/controllers/FamilyMemberControllerFunctionalSpec.groovy
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
  test.gradle
Labels: tests, kotlin, groovy

updates
  src/main/kotlin/finance/controllers/FamilyMemberController.kt
  src/main/kotlin/finance/services/StandardizedFamilyMemberService.kt
  src/test/unit/groovy/finance/controllers/StandardizedFamilyMemberControllerSpec.groovy
Labels: tests, kotlin, groovy

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']
