Repository henninb/raspi-finance-endpoint, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, build, ci/cd, kotlin, groovy, database, config, graphql

.github/labeler.yml:

# Configuration for the GitHub labeler action v5
# https://github.com/actions/labeler

# Label PRs that modify documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Label PRs that modify tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*', '**/*Test*', '**/*Spec*']

# Label PRs that modify build configuration
build:
  - changed-files:
    - any-glob-to-any-file: ['build.gradle*', 'gradle/**/*', 'gradlew*', 'Dockerfile*', 'docker-compose*.yml']

# Label PRs that modify GitHub workflows
ci/cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Label PRs that modify Kotlin source code
kotlin:
  - changed-files:
    - any-glob-to-any-file: ['src/main/kotlin/**/*']

# Label PRs that modify Groovy test code
groovy:
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*.groovy']

# Label PRs that modify database migrations
database:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/db/migration/**/*']

# Label PRs that modify configuration files
config:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/**/*.yml', 'src/main/resources/**/*.yaml', 'src/main/resources/**/*.properties']

# Label PRs that modify GraphQL schemas
graphql:
  - changed-files:
    - any-glob-to-any-file: ['src/main/resources/graphql/**/*']

updates
  INTEGRATION_TEST_FAILURE_ANALYSIS.md
  src/test/integration/groovy/finance/repositories/TransactionRepositorySimpleIntSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: documentation, tests, groovy

payment table updates
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/resources/db/migration/prod/V05__remove-payment-account-name-owner.sql
  src/main/resources/db/migration/prod/V06__drop-fk-payment-account-name-owner.sql
Labels: kotlin, database

wip
  src/test/unit/groovy/finance/configurations/HttpErrorLoggingFilterSpec.groovy
Labels: tests, groovy

error handling added for database
  build.gradle
  gradle.properties
  src/main/kotlin/finance/configurations/DatabaseResilienceConfiguration.kt
  src/main/kotlin/finance/services/AccountService.kt
  src/main/kotlin/finance/services/BaseService.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/main/resources/application-db-resilience.yml
  src/main/resources/application-prod.yml
Labels: build, kotlin, config

test updates
  src/test/unit/groovy/finance/utils/AccountTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/ImageFormatTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/ReoccurringTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/TransactionStateConverterSpec.groovy
  src/test/unit/groovy/finance/utils/TransactionTypeConverterSpec.groovy
Labels: tests, groovy

docker updates
  docker-compose-base.yml
  docker-compose-influxdb.yml
  docker-compose-oracle.yml
  docker-compose-postgresql.yml
  docker-compose-prod.yml
  docker-compose-prodora.yml
  docker-compose-stage.yml
  env.prod
  run.sh
  src/main/kotlin/finance/Application.kt
  src/main/kotlin/finance/configurations/InfluxDbConfiguration.kt
  src/main/resources/application-prod.yml
Labels: build, kotlin, config

config updates
  src/main/kotlin/finance/configurations/RateLimitingFilter.kt
  src/main/resources/application-prod.yml
  src/test/functional/resources/application-func.yml
  src/test/integration/resources/application-int.yml
  src/test/unit/groovy/finance/configurations/RateLimitingFilterSpec.groovy
  src/test/unit/resources/application-unit.yml
Labels: tests, kotlin, groovy, config

fixed integration tests
  src/test/integration/groovy/finance/graphql/GraphQLIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: tests, groovy

wip
  gradle.properties
Labels: none

wip
  src/main/kotlin/finance/configurations/RequestLoggingFilter.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/services/UserService.kt
  src/main/resources/db/migration/prod/V01__create-ddl-objects-prod.sql
Labels: kotlin, database

wip
  src/test/integration/groovy/finance/repositories/TransactionRepositoryIntSpec.groovy
  src/test/integration/groovy/finance/routes/CamelRouteIntegrationSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

normalized controllers - fixed warnings
  src/main/kotlin/finance/configurations/LoggingCorsFilter.kt
  src/main/kotlin/finance/controllers/AccountController.kt
  src/main/kotlin/finance/controllers/CategoryController.kt
  src/main/kotlin/finance/controllers/DescriptionController.kt
  src/main/kotlin/finance/controllers/ExcelFileController.kt
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/ParameterController.kt
  src/main/kotlin/finance/controllers/PaymentController.kt
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/controllers/TransactionController.kt
  src/main/kotlin/finance/controllers/TransferController.kt
  src/main/kotlin/finance/controllers/ValidationAmountController.kt
  src/main/kotlin/finance/domain/Account.kt
  src/main/kotlin/finance/domain/Category.kt
  src/main/kotlin/finance/domain/Description.kt
  src/main/kotlin/finance/domain/Parameter.kt
  src/main/kotlin/finance/domain/Payment.kt
  src/main/kotlin/finance/domain/PendingTransaction.kt
  src/main/kotlin/finance/domain/ReceiptImage.kt
  src/main/kotlin/finance/domain/Summary.kt
  src/main/kotlin/finance/domain/Transaction.kt
  src/main/kotlin/finance/domain/Transfer.kt
  src/main/kotlin/finance/domain/User.kt
  src/main/kotlin/finance/domain/ValidationAmount.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/resources/logback.xml
Labels: kotlin

/api/me fix and TODO.md added
  CLAUDE.md
  TODO.md
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: documentation, kotlin

updated tests
  src/test/functional/groovy/finance/helpers/PaymentBuilder.groovy
  src/test/integration/groovy/finance/services/ServiceLayerIntegrationSpec.groovy
  src/test/unit/groovy/finance/domain/PaymentSpec.groovy
  src/test/unit/groovy/finance/helpers/PaymentBuilder.groovy
  src/test/unit/groovy/finance/services/PaymentServiceSpec.groovy
Labels: tests, groovy

wip
  .gitignore
  Dockerfile
  Dockerfile-podman
  docker-compose-base.yml
  env.prod
  run-gcp.sh
  run-new-new.sh
  run-new.sh
  run-podman.sh
  src/main/kotlin/finance/configurations/LoggingCorsFilter.kt
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: build, kotlin

wip
  src/test/unit/groovy/finance/configurations/HttpErrorLoggingFilterSpec.groovy
  src/test/unit/groovy/finance/configurations/RequestLoggingFilterSpec.groovy
Labels: tests, groovy

wip
  src/test/functional/groovy/finance/controllers/AccountControllerSpec.groovy
Labels: tests, groovy

wip
  CLAUDE.md
  src/test/functional/resources/application-func.yml
Labels: documentation, tests

CORS update
  src/main/kotlin/finance/configurations/WebSecurityConfig.kt
Labels: kotlin

tests added
  CLAUDE.md
  git-commit-review.sh
  src/test/integration/groovy/finance/CamelSpec.groovy
  src/test/integration/groovy/finance/HealthEndpointSpec.groovy
  src/test/integration/groovy/finance/RandomPortSpec.groovy
Labels: documentation, tests, groovy

wip
  TODO.md
Labels: documentation

wip
  CLAUDE.md
Labels: documentation

succesful running tests for unit int and func
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
Labels: tests, groovy

wip
  run.sh
Labels: none

functional tests updated and fixed - using func profile
  src/test/functional/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/PendingTransactionControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/TransferControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/UuidControllerSpec.groovy
  src/test/functional/groovy/finance/controllers/ValidationAmountControllerSpec.groovy
  src/test/functional/resources/data.sql
  src/test/functional/resources/db/migration/func/V01__create-ddl-objects-func.sql
  test.gradle
Labels: tests, groovy

wip
  src/test/functional/groovy/finance/controllers/PaymentControllerSpec.groovy
Labels: tests, groovy

wip
  run.sh
Labels: none

wip
  src/main/kotlin/finance/repositories/AccountRepository.kt
  src/test/integration/groovy/finance/repositories/AccountRepositoryIntSpec.groovy
Labels: tests, kotlin, groovy

wip
  src/test/functional/groovy/finance/controllers/LoginControllerSpec.groovy
Labels: tests, groovy

wip
  src/main/kotlin/finance/controllers/PendingTransactionController.kt
Labels: kotlin

config updates
  src/test/functional/resources/application-func.yml
Labels: tests

wip
  src/main/kotlin/finance/controllers/LoginController.kt
  src/test/unit/groovy/finance/controllers/ParameterControllerSpec.groovy
  src/test/unit/groovy/finance/controllers/UuidControllerSpec.groovy
  src/test/unit/groovy/finance/utils/ImageFormatTypeConverterSpec.groovy
  src/test/unit/groovy/finance/utils/ReoccurringTypeConverterSpec.groovy
Labels: tests, kotlin, groovy

email address
  src/main/kotlin/finance/domain/User.kt
Labels: kotlin

added error handling
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/domain/AccountValidationException.kt
  src/main/kotlin/finance/domain/InvalidReoccurringTypeException.kt
  src/main/kotlin/finance/domain/InvalidTransactionStateException.kt
  src/main/kotlin/finance/domain/ReceiptImageException.kt
  src/main/kotlin/finance/domain/TransactionNotFoundException.kt
  src/main/kotlin/finance/domain/TransactionValidationException.kt
  src/main/kotlin/finance/services/TransactionService.kt
  src/test/unit/groovy/finance/configurations/JwtAuthenticationFilterSpec.groovy
Labels: tests, kotlin, groovy

wip
  run-new-new.sh
  run-new.sh
  run.sh
Labels: none

wip
  run.sh
  src/main/kotlin/finance/configurations/JwtAuthenticationFilter.kt
  src/main/kotlin/finance/configurations/JwtTokenFilter.kt
  src/main/kotlin/finance/configurations/JwtTokenProvider.kt
  src/main/kotlin/finance/controllers/LoginController.kt
Labels: kotlin

wip
  env.flyway
  env.flyway-repair
  run-flyway-repair.sh
  run-flyway.sh
  src/main/kotlin/finance/configurations/BeanConfig.kt
  src/main/kotlin/finance/repositories/PaymentRepository.kt
  src/main/kotlin/finance/services/PaymentService.kt
  src/main/resources/db/migration/prod/V04__drop-payment-constraint.sql
Labels: kotlin, database

security logic with broken functional tests
  src/main/kotlin/finance/controllers/LoginController.kt
  src/main/kotlin/finance/controllers/ReceiptImageController.kt
  src/main/kotlin/finance/domain/User.kt
  src/test/functional/groovy/finance/controllers/LoginControllerSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationSimpleSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationSpec.groovy
  src/test/integration/groovy/finance/security/SecurityIntegrationWorkingSpec.groovy
Labels: tests, kotlin, groovy
